{% extends 'main/base.html' %}
{% load static %}

{% block slide %}
{% include 'main/slideshow.html' %}
{% endblock %}

{% block content %}
<div class="entry-content">
    <div class="item-page">
        <article class="dd-post">
            <div class="dd-postcontent clearfix">
                <div class="dd-article">
                    <h1>Электромонтажные работы в Воронеже</h1>
                    <p><img style="margin-right: 10px; margin-left: 5px; float: right;" src="{% static 'main/img/elektromontazhnye-raboty (1).jpg' %}" alt="электромонтажные работы ‌в Воронеже" width="280" height="186">Жизнь человека не мыслима без электроэнергии. Поэтому при строительстве или ремонте первым делом возникает вопрос электромонтажных работ в квартире или частном доме, поскольку от этого зависит комфорт жизни.</p>
                    <p>Розетка в правильном месте и на нужном расстоянии, грамотный подбор осветительных ламп, профессиональный монтажа электропроводки, надежные электрические сети, выдерживающие пиковые нагрузки зимой – эти мелкие, незаметные на первый взгляд детали влияют на нашу обыденную жизнь.</p>
                    <h2>Дружите ли Вы с электричеством?</h2>
                    <p>Если решили самостоятельно делать ремонт или замену электропроводки, вспомните оценку по физике в школе. Если она была не хорошая, а возможности познать электротехнические работы в жизни не было, лучше не брать в руки плоскогубцы и оголенный провод, а обратиться к электрику. К тому же с этим сегодня проблем нет. Компания "<strong>Ремонт 36</strong>" готова предложить услуги по электромонтажным работам, тем самым обезопасив и сэкономив время и нервы клиентов.</p>
                    <p><img style="vertical-align: middle;" src="{% static 'main/img/elektromontazhnye-raboty.jpg' %}" alt="Монтаж электропроводки" width="800" height="219"></p>
                    <h2>Монтаж электропроводки: несложная работа для опытного электрика</h2>
                    <p>Наша компания длительное время оказывает услуги по осуществлению электротехнических работ любой сложности: от мелкого ремонта выключателя до прокладки электросетей в новом доме «<strong>под ключ</strong>». Нашим мастерам по плечу любой запрос, так как у нас в штате только опытные сотрудники с многолетним стажем.</p>
                    <p>Расценки на электромонтажные работы в Воронеже разнятся, но у нас цены демократичны и направлены на привлечение клиента, а не наоборот. Каждая операция будет просчитана согласно нашему прейскуранту и согласована с клиентом. Вы будете понимать, какую сумму и за что платите.</p>
                    <p>Даже на незначительные работы даем гарантию, мы заинтересованы, в том чтобы итоги нашей деятельности радовали клиентов.</p>
                    
                    <p>&nbsp;</p>
                    <p>		</p>
                    <div class="moduletable">
                    <table class="price">
                        <tbody>
                        <tr>
                            <td style="width: 478.55pt; text-align: center; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="4" valign="top">
                                 <h3>Цены на электромонтажные работы в 2020-2021 года</h3>
                            </td>
                        </tr>
                        <tr>
                    <td>1</td>
                    <td>Высверливание углублений под подрозетники в бетоне</td>
                    <td>шт.</td>
                    <td>350</td>
                    </tr>
                    <tr>
                    <td>2</td>
                    <td>Высверливание углублений под подрозетники в кирпиче</td>
                    <td>шт.</td>
                    <td>300</td>
                    </tr>
                    <tr>
                    <td>3</td>
                    <td>Высверливание отверстий под подрозетники в гипсе,в гкл.</td>
                    <td>шт.</td>
                    <td>150</td>
                    </tr>
                    <tr>
                    <td>4</td>
                    <td>Установка подрозетников в кирпич, гипс,бетон</td>
                    <td>шт.</td>
                    <td>150</td>
                    </tr>
                    <tr>
                    <td>5</td>
                    <td>Высверливание углублений под расп. Коробку в бетоне</td>
                    <td>шт.</td>
                    <td>350</td>
                    </tr>
                    <tr>
                    <td>6</td>
                    <td>&nbsp;Высверливание углублений под расп. Коробку в кирпиче, гипсе</td>
                    <td>шт.</td>
                    <td>300</td>
                    </tr>
                    <tr>
                    <td>7</td>
                    <td>Установка и расключение распред. коробок в кирпич, гипс, бетон</td>
                    <td>шт.</td>
                    <td>600</td>
                    </tr>
                    <tr>
                    <td>8</td>
                    <td>Установка и расключение распред. коробок открытого типа</td>
                    <td>шт.</td>
                    <td>450</td>
                    </tr>
                    
                    <tr itemscope="" itemtype="http://schema.org/Product">
                    <td><p>9</p>
                    </td>
                    <td><p itemprop="name">Установка электророзетки. </p>
                    </td>
                    <td><p itemprop="description">шт.</p>
                    </td>
                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">250</p><meta itemprop="priceCurrency" content="RUB">
                    </td>
                    </tr>
                    <tr>
                    <td>10</td>
                    <td>Установка выключателя</td>
                    <td>шт.</td>
                    <td>300</td>
                    </tr>
                    <tr>
                    <td>11</td>
                    <td>Установка розетки на электроплиту</td>
                    <td>шт.</td>
                    <td>350</td>
                    </tr>
                    <tr>
                    <td>12</td>
                    <td>Установка TV розетки</td>
                    <td>шт.</td>
                    <td>300</td>
                    </tr>
                    <tr>
                    <td>13</td>
                    <td>Установка розетки компьютерной сети</td>
                    <td>шт.</td>
                    <td>350</td>
                    </tr>
                    <tr>
                    <td>14</td>
                    <td>Установка точечных светильников</td>
                    <td>шт.</td>
                    <td>350</td>
                    </tr>
                    <tr>
                    <td>15</td>
                    <td>Установка трансформатора для галогеновых ламп</td>
                    <td>шт.</td>
                    <td>450</td>
                    </tr>
                    <tr>
                    <td>16</td>
                    <td>Сверление отверстия вГКЛ под установку светильников</td>
                    <td>шт.</td>
                    <td>150</td>
                    </tr>
                    <tr>
                    <td>17</td>
                    <td>Установка светильников ламп накаливания одноламповых</td>
                    <td>шт.</td>
                    <td>350</td>
                    </tr>
                    <tr>
                    <td>18</td>
                    <td>Установка светильников ламп накаливания двухламповых</td>
                    <td>шт.</td>
                    <td>450</td>
                    </tr>
                    <tr>
                    <td>19</td>
                    <td>Установка светильника настенного (бра)</td>
                    <td>шт.</td>
                    <td>от 600</td>
                    </tr>
                    <tr>
                    <td>20</td>
                    <td>Патрон подвесной</td>
                    <td>шт.</td>
                    <td>250</td>
                    </tr>
                    <tr>
                    <td>21</td>
                    <td>Установка патрона на стене</td>
                    <td>шт.</td>
                    <td>250</td>
                    </tr>
                    <tr>
                    <td>22</td>
                    <td>Уст крючка под люстру</td>
                    <td>шт.</td>
                    <td>350</td>
                    </tr>
                    <tr>
                    <td>23</td>
                    <td>Установка люстры (без сборки)</td>
                    <td>шт.</td>
                    <td>850</td>
                    </tr>
                    <tr>
                    <td>24</td>
                    <td>Сборка простой люстры</td>
                    <td>шт.</td>
                    <td>650</td>
                    </tr>
                    <tr>
                    <td>25</td>
                    <td>Установка встроенных светильников 600х600</td>
                    <td>шт.</td>
                    <td>600</td>
                    </tr>
                    <tr>
                    <td>26</td>
                    <td>Установка закладных и арматуры</td>
                    <td>шт.</td>
                    <td>250</td>
                    </tr>
                    <tr>
                    <td>27</td>
                    <td>Установка звонка</td>
                    <td>шт.</td>
                    <td>300</td>
                    </tr>
                    <tr>
                    <td>28</td>
                    <td>Установка кнопки звонка</td>
                    <td>шт.</td>
                    <td>300</td>
                    </tr>
                    <tr>
                    <td>29</td>
                    <td>Установка и подключение видеодомофона</td>
                    <td>шт.</td>
                    <td>2500</td>
                    </tr>
                    <tr>
                    <td>30</td>
                    <td>Установка видеоглазка</td>
                    <td>шт.</td>
                    <td>450</td>
                    </tr>
                    <tr>
                    <td>31</td>
                    <td>Установка и подключение переговорного устройства</td>
                    <td>шт.</td>
                    <td>400</td>
                    </tr>
                    <tr>
                    <td>32</td>
                    <td>Монтаж лотков</td>
                    <td>шт.</td>
                    <td>350</td>
                    </tr>
                    <tr>
                    <td>33</td>
                    <td>Монтаж электрокороба сечением до50х50мм</td>
                    <td>шт.</td>
                    <td>150</td>
                    </tr>
                    <tr>
                    <td>34</td>
                    <td>Монтаж электрокороба сечением до200х50мм</td>
                    <td>шт.</td>
                    <td>400</td>
                    </tr>
                    <tr>
                    <td>35</td>
                    <td>Штробление бетона под электропроводку 20х20мм</td>
                    <td>пог.м</td>
                    <td>450</td>
                    </tr>
                    <tr>
                    <td>36</td>
                    <td>Штробление бетона под электропроводку 40х40мм</td>
                    <td>пог.м</td>
                    <td>550</td>
                    </tr>
                    <tr>
                    <td>37</td>
                    <td>Штробление бетона под электропроводку 70х70мм</td>
                    <td>пог.м</td>
                    <td>650</td>
                    </tr>
                    <tr>
                    <td>38</td>
                    <td>Штробление бетона под электропроводку 100х100мм</td>
                    <td>пог.м</td>
                    <td>900</td>
                    </tr>
                    <tr>
                    <td>39</td>
                    <td>Штробление кирпича под электропроводку 20х20мм</td>
                    <td>пог.м</td>
                    <td>350</td>
                    </tr>
                    <tr>
                    <td>40</td>
                    <td>Штробление кирпича под электропроводку 40х40мм</td>
                    <td>пог.м</td>
                    <td>450</td>
                    </tr>
                    <tr>
                    <td>41</td>
                    <td>Штробление кирпича под электропроводку 70х70мм</td>
                    <td>пог.м</td>
                    <td>550</td>
                    </tr>
                    <tr>
                    <td>42</td>
                    <td>Штробление кирпича под электропроводку 100х100мм</td>
                    <td>пог.м</td>
                    <td>750</td>
                    </tr>
                    <tr>
                    <td>43</td>
                    <td>Штробление гипса под электропроводку 20х20мм</td>
                    <td>пог.м</td>
                    <td>250</td>
                    </tr>
                    <tr>
                    <td>44</td>
                    <td>Штробление гипса под электропроводку 40х40мм</td>
                    <td>пог.м</td>
                    <td>300</td>
                    </tr>
                    <tr>
                    <td>45</td>
                    <td>Штробление гипса под электропроводку 70х70мм</td>
                    <td>пог.м</td>
                    <td>450</td>
                    </tr>
                    <tr>
                    <td>46</td>
                    <td>Штробление гипса под электропроводку 100х100мм</td>
                    <td>пог.м</td>
                    <td>500</td>
                    </tr>
                    <tr>
                    <td>47</td>
                    <td>Обратная заделка штроб 40х20мм</td>
                    <td>пог.м</td>
                    <td>150</td>
                    </tr>
                    <tr>
                    <td>48</td>
                    <td>Отверстия в бетоне 25мм</td>
                    <td>шт.</td>
                    <td>250</td>
                    </tr>
                    <tr>
                    <td>49</td>
                    <td>Отверстия в бетоне 40мм</td>
                    <td>шт.</td>
                    <td>350</td>
                    </tr>
                    <tr>
                    <td>50</td>
                    <td>Отверстия в кирпиче 25мм</td>
                    <td>шт.</td>
                    <td>150</td>
                    </tr>
                    <tr>
                    <td>51</td>
                    <td>Отверстия в дереве 25мм</td>
                    <td>шт.</td>
                    <td>90</td>
                    </tr>
                    <tr>
                    <td>52</td>
                    <td>Отверстия в бетоне 50мм</td>
                    <td>шт.</td>
                    <td>400</td>
                    </tr>
                    <tr>
                    <td>53</td>
                    <td>Отверстия в кирпиче 50мм</td>
                    <td>шт.</td>
                    <td>300</td>
                    </tr>
                    <tr>
                    <td>54</td>
                    <td>Отверстия в дереве 50мм</td>
                    <td>шт.</td>
                    <td>200</td>
                    </tr>
                    <tr>
                    <td>55</td>
                    <td>Укладка силового кабеля до 6 мм.кв. в гофрарукаве</td>
                    <td>пог.м</td>
                    <td>180</td>
                    </tr>
                    <tr>
                    <td>56</td>
                    <td>Укладка силового кабеля до 2,5 мм.кв. без гофрарукава</td>
                    <td>пог.м</td>
                    <td>100</td>
                    </tr>
                    <tr>
                    <td>57</td>
                    <td>Укладка силового кабеля &nbsp;от 2,5 до 6 мм.кв. без гофрарукава</td>
                    <td>пог.м</td>
                    <td>150</td>
                    </tr>
                    <tr>
                    <td>58</td>
                    <td>Крепление силового кабеля до 6 мм.кв.на тросах</td>
                    <td>пог.м</td>
                    <td>300</td>
                    </tr>
                    <tr>
                    <td>59</td>
                    <td>Укладка ТV кабеля в гофрорукаве</td>
                    <td>пог.м</td>
                    <td>150</td>
                    </tr>
                    <tr>
                    <td>60</td>
                    <td>Укладка телефонного кабеля в гофрорукаве</td>
                    <td>пог.м</td>
                    <td>150</td>
                    </tr>
                    <tr>
                    <td>61</td>
                    <td>Демонтаж кабель-канала</td>
                    <td>пог.м</td>
                    <td>50</td>
                    </tr>
                    <tr>
                    <td>62</td>
                    <td>Монтаж кабель-канала</td>
                    <td>пог.м</td>
                    <td>100</td>
                    </tr>
                    <tr>
                    <td>63</td>
                    <td>Укладка сетевого кабеля для компьютера</td>
                    <td>пог.м</td>
                    <td>80</td>
                    </tr>
                    <tr>
                    <td>64</td>
                    <td>Установка телевизионного «Краба»</td>
                    <td>шт.</td>
                    <td>450</td>
                    </tr>
                    <tr>
                    <td>65</td>
                    <td>Установка щитка наружного</td>
                    <td>шт.</td>
                    <td>2000</td>
                    </tr>
                    <tr>
                    <td>66</td>
                    <td>Установка щитка внутреннего на 6 модулей (бетон)</td>
                    <td>шт.</td>
                    <td>3100</td>
                    </tr>
                    <tr>
                    <td>67</td>
                    <td>Установка щитка внутреннего на 12 модулей (бетон)</td>
                    <td>шт.</td>
                    <td>3600</td>
                    </tr>
                    <tr>
                    <td>68</td>
                    <td>Установка щитка внутреннего на 24 модуля (бетон)</td>
                    <td>шт.</td>
                    <td>4500</td>
                    </tr>
                    <tr>
                    <td>69</td>
                    <td>Установка щитка внутреннего на 36 модулей (бетон)</td>
                    <td>шт.</td>
                    <td>4800</td>
                    </tr>
                    <tr>
                    <td>70</td>
                    <td>Установка щитка внутреннего на 6 модулей (кирпич)</td>
                    <td>шт.</td>
                    <td>2500</td>
                    </tr>
                    <tr>
                    <td>71</td>
                    <td>Установка щитка внутреннего на 12 модулей (кирпич)</td>
                    <td>шт.</td>
                    <td>2800</td>
                    </tr>
                    <tr>
                    <td>72</td>
                    <td>Установка щитка внутреннего на 24 модуля (кирпич)</td>
                    <td>шт.</td>
                    <td>3800</td>
                    </tr>
                    <tr>
                    <td>73</td>
                    <td>Установка щитка внутреннего на 36 модулей (кирпич)</td>
                    <td>шт.</td>
                    <td>3900</td>
                    </tr>
                    <tr>
                    <td>74</td>
                    <td>Установка щитка внутреннего на 6 модулей (гипсокартон)</td>
                    <td>шт.</td>
                    <td>2000</td>
                    </tr>
                    <tr>
                    <td>75</td>
                    <td>Установка щитка внутреннего на 12 модулей (гипсокартон)</td>
                    <td>шт.</td>
                    <td>2300</td>
                    </tr>
                    <tr>
                    <td>76</td>
                    <td>Установка щитка внутреннего на 24 модуля (гипсокартон)</td>
                    <td>шт.</td>
                    <td>2800</td>
                    </tr>
                    <tr>
                    <td>77</td>
                    <td>Установка щитка внутреннего на 36 модулей (гипсокартон)</td>
                    <td>шт.</td>
                    <td>3200</td>
                    </tr>
                    <tr>
                    <td>78</td>
                    <td>Установка электросчетчика</td>
                    <td>шт.</td>
                    <td>1800</td>
                    </tr>
                    <tr>
                    <td>79</td>
                    <td>Монтаж оборудования щитка (единичный модуль)</td>
                    <td>шт.</td>
                    <td>400</td>
                    </tr>
                    <tr>
                    <td>80</td>
                    <td>Установка УЗО двухполюсного, дифференциального автомата</td>
                    <td>шт.</td>
                    <td>600</td>
                    </tr>
                    <tr>
                    <td>81</td>
                    <td>Установка УЗО двухполюсного, дифференциального автомата</td>
                    <td>шт.</td>
                    <td>800</td>
                    </tr>
                    <tr>
                    <td>82</td>
                    <td>Подк. ТV и тел. Линий к линиям в щитке</td>
                    <td>шт.</td>
                    <td>300</td>
                    </tr>
                    <tr>
                    <td>83</td>
                    <td>Установка и подключение сушилки для рук</td>
                    <td>шт.</td>
                    <td>500</td>
                    </tr>
                    <tr>
                    <td>84</td>
                    <td>Подключение и установка электрического полотенцесушителя</td>
                    <td>шт.</td>
                    <td>от 1000</td>
                    </tr>
                    <tr>
                    <td>85</td>
                    <td>Монтаж и подключение кухонной вытяжки</td>
                    <td>шт.</td>
                    <td>2000</td>
                    </tr>
                    <tr>
                    <td>86</td>
                    <td>Укладка нагревательного элемента теплого пола</td>
                    <td>кв.м</td>
                    <td>1000</td>
                    </tr>
                    <tr>
                    <td>87</td>
                    <td>Монтаж кабеля теплого пола</td>
                    <td>шт.</td>
                    <td>2000</td>
                    </tr>
                    <tr>
                    <td>88</td>
                    <td>Подключение и установка реостата для теплого пола</td>
                    <td>шт.</td>
                    <td>650</td>
                    </tr>
                    <tr>
                    <td>89</td>
                    <td>Подключение и установка вентилятора</td>
                    <td>шт.</td>
                    <td>850</td>
                    </tr>
                    <tr>
                    <td>90</td>
                    <td>Демонтаж эл. Проводки</td>
                    <td>пог.м</td>
                    <td>50</td>
                    </tr>
                    <tr>
                    <td>91</td>
                    <td>Демонтаж светильников</td>
                    <td>шт.</td>
                    <td>150</td>
                    </tr>
                    <tr>
                    <td>92</td>
                    <td>Проверка и включение схемы</td>
                    <td>шт.</td>
                    <td>1000</td>
                    </tr>
                    <tr>
                    <td>93</td>
                    <td>Демонтаж щитка</td>
                    <td>шт.</td>
                    <td>450</td>
                    </tr>
                    <tr>
                    <td>94</td>
                    <td>Распайка распределительных коробок</td>
                    <td>шт.</td>
                    <td>400</td>
                    </tr>
                    <tr>
                    <td>95</td>
                    <td>Подключение силовой лини в эл.щите</td>
                    <td>шт.</td>
                    <td>1000</td>
                    </tr>
                    <tr>
                    <td>96</td>
                    <td>Инспекция системы тёплого пола</td>
                    <td>шт.</td>
                    <td>500</td>
                    </tr>
                    <tr>
                    <td>97</td>
                    <td>Установка и подключение, блока управления , «аквостопа»</td>
                    <td>шт.</td>
                    <td>1000</td>
                    </tr>
                    <tr>
                    <td>98</td>
                    <td>Установка датчиков включение, блока управления,«аквостопа»</td>
                    <td>шт.</td>
                    <td>500</td>
                    </tr>
                    <tr>
                    <td>99</td>
                    <td>Подключение водонагревателя накопительного типа</td>
                    <td>шт.</td>
                    <td>500</td>
                    </tr>
                    <tr>
                    <td>100</td>
                    <td>Укладка светодиодного шнура&nbsp;(с подключением)</td>
                    <td>пог.м</td>
                    <td>350</td>
                    </tr>
                    <tr>
                    <td>101</td>
                    <td>Устройство временного электроснабжения</td>
                    <td>шт.</td>
                    <td>6000</td>
                    </tr>
                    </tbody>
                    </table>		</div>
                        <p></p>
                    
                    <h2>Инструкция монтажа электропроводки в частном доме своими руками</h2>
                    <p>При самостоятельном монтаже нужно помнить о нормах ПУЭ и технике безопасности. Сначала разберитесь со структурой домашней сети. Состоит она из силовой линии, электро точек и проводов, не забывайте про заземление, защитные устройства и автоматику.</p>
                    <p>Для домашней сети используют одножильные медные провода. Разделяйте проводку на линии: розеточные, под мощную технику, освещения. Розетки лучше всего располагать от 0,3 до 1 метра от пола. Выключатели располагать на высоте от 0,8 до 1 метра от пола.</p> </div></div></article></div></div>
{% endblock %}

{% block nostyle %}
{% include 'main/posts.html' %}
{% endblock %}
