{% extends 'main/base.html' %}
{% load static %}

{% block slide %}
{% include 'main/slideshow.html' %}
{% endblock %}

{% block content %}
<div class="entry-content"><div class="item-page"><article class="dd-post"><div class="dd-postcontent clearfix"><div class="dd-article"><h1>Плиточные работы в Воронеже</h1>
    <p>Плитка, как настенная, так и напольная, идеально вписывается в любой интерьер при грамотном выборе цвета, рисунка и комбинации оттенков. Плиточные работы ценятся на строительном рынке, поскольку они довольно сложные в техническом плане, а во-вторых, ошибка в укладке приведет к испорченному виду комнаты. Поэтому, если Вы никогда не держали в руках данное керамическое изделие, то в случае генерального ремонта лучше его и не брать. Желательно доверить дело обученным плиточникам, поскольку данный вид работ только на первый взгляд легкий.</p>
    <h2>Правильный процесс укладки плитки</h2>
    <p>Если интересует укладка плитки в Воронеже, то Вы находитесь на правильной странице. Наши мастера, как никто, знают толк в укладке. Мы понимаем, что недостаточно просто взять и положить плитку туда, куда скажет клиент. Нужно выполнить целый ряд подготовительных мероприятий, например, выровнять стены или полы, изучить расположение розеток и выходов коммуникаций. Обсудить с заказчиком расположение и комбинацию цветов, фриза и так далее.</p>
    <h2>Наши мастера выполняют следующие виды работ:</h2>
    <p><img style="float: right;" src="{% static 'main/img/plitochnye-raboty.jpg' %}" alt="Положить плитку в Воронеже" width="400" height="273"></p>
    <ul>
    <li>подготовительные черновые работы;</li>
    <li>подготовительные электромонтажные и сантехнические работы;</li>
    <li>укладка половой плитки;</li>
    <li>укладка настенной плитки;</li>
    <li>укладка мозаики и фриза;</li>
    <li>укладка по диагонали;</li>
    <li>затирка швов;</li>
    <li>фигурная резка;</li>
    <li>монтаж наружных и внутренних уголков;</li>
    <li>сверление с выводом коммуникаций и электропроводки.</li>
    </ul>
    <p>Как видите, наши мастера могут осуществить электромонтажные и сантехнические работы, чтобы впоследствии Вы не страдали от нехватки розетки или необходимого крана в ванной комнате или на кухне. Таким образом, с нашей компанией положить плитку в Воронеже проще простого.</p>
    <h2>Цены на укладку плитки в Воронеже</h2>
    <p>Мы предлагаем начальную <strong>цену за 1 м2</strong> плиточных работ в размере <strong>600 рублей.</strong> За эти деньги получаете быструю укладку настенной плитки, качественное выполнение, минимум шума и грязи. Остальные операции рассчитываются согласно прейскуранту. С учетом подготовительных работ, укладки, высыхания и затирки швов уже через неделю Вы получите идеальный ремонт в вашей комнате. Закажите данную услугу и спустя короткий промежуток времени не узнаете квартиру.</p>
    <p>&nbsp;</p>
    <p>		</p><div class="moduletable">
                        <table class="price">
    <tbody>
    <tr>
    <td style="padding: 5.4pt;" colspan="5" valign="top">
    <p><strong>Прайс лист на плиточные работы в 2020-2021 года</strong></p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>1</p>
    </td>
    <td>
    <p>Облицовка стен керамической плиткой 300х200,400x250</p>
    </td>
    <td>
    <p>кв.м</p>
    </td>
    <td>
    <p>от 850</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>2</p>
    </td>
    <td>
    <p>Облицовка стен керамогранитом </p>
    </td>
    <td>
    <p>кв.м</p>
    </td>
    <td>
    <p>от 1200</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>3</p>
    </td>
    <td>
    <p>Облицовка стен керамической плиткой (10х10)</p>
    </td>
    <td>
    <p>кв.м</p>
    </td>
    <td>
    <p>1500</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>4</p>
    </td>
    <td>
    <p>Облицовка стен плиткой нестандартного размера</p>
    </td>
    <td>
    <p>кв.м</p>
    </td>
    <td>
    <p>1450</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>5</p>
    </td>
    <td>
    <p>Облицовка стен диким камнем и клинкером</p>
    </td>
    <td>
    <p>кв.м</p>
    </td>
    <td>
    <p>1600</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>6</p>
    </td>
    <td>
    <p>Укладка керамогранита на пол</p>
    </td>
    <td>
    <p>кв.м</p>
    </td>
    <td>
    <p>от 900</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>7</p>
    </td>
    <td>
    <p>Укладка керамогранита на пол нестандартного размера</p>
    </td>
    <td>
    <p>кв.м</p>
    </td>
    <td>
    <p>1100</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>8</p>
    </td>
    <td>
    <p>Укладка плитки по диагонали</p>
    </td>
    <td>
    <p>кв.м</p>
    </td>
    <td>
    <p>+30% от стоимости укладки</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>9</p>
    </td>
    <td>
    <p>Облицовка стен мрамором</p>
    </td>
    <td>
    <p>кв.м</p>
    </td>
    <td>
    <p>2700</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>10</p>
    </td>
    <td>
    <p>Укладка мрамора на пол</p>
    </td>
    <td>
    <p>кв.м</p>
    </td>
    <td>
    <p>1500</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>11</p>
    </td>
    <td>
    <p>Облицовка откосов мрамором</p>
    </td>
    <td>
    <p>пог.м</p>
    </td>
    <td>
    <p>2400</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>12</p>
    </td>
    <td>
    <p>Укладка мозаики на стены</p>
    </td>
    <td>
    <p>кв.м</p>
    </td>
    <td>
    <p>2200</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>13</p>
    </td>
    <td>
    <p>Укладка мозаики на стены с подбором рисунка</p>
    </td>
    <td>
    <p>кв.м</p>
    </td>
    <td>
    <p>2600</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>14</p>
    </td>
    <td>
    <p>Облицовка поддона душевой кабины мозаикой</p>
    </td>
    <td>
    <p>пог.м</p>
    </td>
    <td>
    <p>2600</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>15</p>
    </td>
    <td>
    <p>Устройство ступеней</p>
    </td>
    <td>
    <p>пог.м</p>
    </td>
    <td>
    <p>1000</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>16</p>
    </td>
    <td>
    <p>Укладка фризовой плитки</p>
    </td>
    <td>
    <p>пог.м</p>
    </td>
    <td>
    <p>450</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>17</p>
    </td>
    <td>
    <p>Укладка мозаичного фриза</p>
    </td>
    <td>
    <p>пог.м</p>
    </td>
    <td>
    <p>1500</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>18</p>
    </td>
    <td>
    <p>Затирка мозаичного фриза</p>
    </td>
    <td>
    <p>пог.м</p>
    </td>
    <td>
    <p>350</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>19</p>
    </td>
    <td>
    <p>Сверление технических отверстий в плитке до 50мм</p>
    </td>
    <td>
    <p>шт.</p>
    </td>
    <td>
    <p>400</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>20</p>
    </td>
    <td>
    <p>Сверление технических отверстий в плитке до 100мм</p>
    </td>
    <td>
    <p>шт.</p>
    </td>
    <td>
    <p>550</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>21</p>
    </td>
    <td>
    <p>Сверление отверстий в керамограните</p>
    </td>
    <td>
    <p>шт.</p>
    </td>
    <td>
    <p>500</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>22</p>
    </td>
    <td>
    <p>Затирка швов</p>
    </td>
    <td>
    <p>кв.м</p>
    </td>
    <td>
    <p>200</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>23</p>
    </td>
    <td>
    <p>Затирка мозаики</p>
    </td>
    <td>
    <p>кв.м</p>
    </td>
    <td>
    <p>350</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>24</p>
    </td>
    <td>
    <p>Монтаж внешних и внутренних уголков</p>
    </td>
    <td>
    <p>пог.м</p>
    </td>
    <td>
    <p>300</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>25</p>
    </td>
    <td>
    <p>Облицовка плиткой коробов из ГКЛ (одна сторона)</p>
    </td>
    <td>
    <p>пог.м</p>
    </td>
    <td>
    <p>800</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>26</p>
    </td>
    <td>
    <p>Подрезка углов плитки под 45 град. (сторона)</p>
    </td>
    <td>
    <p>пог.м</p>
    </td>
    <td>
    <p>650</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>27</p>
    </td>
    <td>
    <p>Подрезка углов керамогранита под 45 град. (сторона)</p>
    </td>
    <td>
    <p>пог.м</p>
    </td>
    <td>
    <p>1000</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>28</p>
    </td>
    <td>
    <p>Продольный рез керамической плитки</p>
    </td>
    <td>
    <p>пог.м</p>
    </td>
    <td>
    <p>300</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>29</p>
    </td>
    <td>
    <p>Продольный рез керамогранита</p>
    </td>
    <td>
    <p>пог.м</p>
    </td>
    <td>
    <p>350</p>
    </td>
    </tr>
    
    
    <tr>
    <td>
    <p>30</p>
    </td>
    <td>
    <p>Устройство откосов из плитки</p>
    </td>
    <td>
    <p>пог.м</p>
    </td>
    <td>
    <p>800</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>31</p>
    </td>
    <td>
    <p>Укладка керамического бордюра</p>
    </td>
    <td>
    <p>пог.м</p>
    </td>
    <td>
    <p>450</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>32</p>
    </td>
    <td>
    <p>Устройство откосов из мозаики</p>
    </td>
    <td>
    <p>пог.м</p>
    </td>
    <td>
    <p>1500</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>33</p>
    </td>
    <td>
    <p>Фигурная резка плитки</p>
    </td>
    <td>
    <p>пог.м</p>
    </td>
    <td>
    <p>1200</p>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>34</p>
    </td>
    <td>
    <p>Монтаж ревизионного люка невидимки с облицовкой</p>
    </td>
    <td>
    <p>шт.</p>
    </td>
    <td>
    <p>2800</p>
    </td>
    </tr>
    
    </tbody>
    </table>		</div>
        <p></p> </div></div></article></div></div>
{% endblock %}

{% block nostyle %}
{% include 'main/posts.html' %}
{% endblock %}