{% extends 'main/base.html' %} 
{% load static %} 

{% block content %}
<div class="entry-content">
  <div class="item-page">
    <article class="dd-post">
      <div class="dd-postcontent clearfix">
        <div class="dd-article">
          <h1>Ремонт магазинов и отделка торговых центров в Воронеже</h1>
          <table class="table-uslugi">
            <tbody>
              <tr>
                <td>
                  <img
                    src="{% static 'main/img/remont-magazinov-01.jpg' %}"
                    alt="ремонт в магазине воронеж"
                  />
                </td>
                <td>
                  <img
                    src="{% static 'main/img/remont-magazinov-02.jpg' %}"
                    alt="ремонт в магазине"
                  />
                </td>
                <td>
                  <img
                    src="{% static 'main/img/remont-magazinov-03.jpg' %}"
                    alt="отделка в магазине цена"
                  />
                </td>
                <td>
                  <img
                    src="{% static 'main/img/remont-magazinov-4.jpg' %}"
                    alt="отделка в магазинах"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <img
                    src="{% static 'main/img/remont-magazinov-torgovih-centrah-01.jpg' %}"
                    alt="ремонт в торговых центрах"
                  />
                </td>
                <td>
                  <img
                    src="{% static 'main/img/remont-magazinov-torgovih-centrah-03.jpg' %}"
                    alt="отделка в торговых центрах цена"
                  />
                </td>
                <td>
                  <img
                    src="{% static 'main/img/remont-magazinov-torgovih-centrah-04.jpg' %}"
                    alt="ремонт в магазинах торговых центрах воронеж"
                  />
                </td>
                <td>
                  <img
                    src="{% static 'main/img/remont-magazinov-torgovih-centrah-06.jpg' %}"
                    alt="отделка в магазинах торговых центрах воронеж"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <p class="title" style="text-align: center">
            "Ремонт 36" имеет большой и успешный оптыт в проведении ремонта и
            отделочных работ в торговых центрах и магазинах Воронежа!
          </p>
          <p style="text-align: justify">
            Заказать ремонт в торговом центре или отделку магазине в Воронеже
            можно по телефонам <strong>+7 930 400 00 01</strong>,
            <strong>+7&nbsp;930&nbsp;011 08 08</strong>. Спешите!
          </p>
          <p>
            Не знаешь как сделать свой магазин красивым? Обращаешься во многие
            компании, но они еще больше удручают длинными счетами и медленной
            работой? Наша компания славится качественным ремонтом, скорой
            отделкой, человечными ценами. А также креативными дизайнерами,
            которые берутся за проект любой сложности. Хочешь сделать свой
            торговый центр или магазин удобным и уютным, обращайся! Наши
            специалисты составят смету и наметят план работ. "Ремонт 36" -
            команда профессионалов, с четким распределением обязанностей,
            выполнит ваш ремонт точно в срок.
          </p>
          <p style="text-align: justify">
            Компания известна многими преимуществами, в том числе:
          </p>
          <ul>
            <li>высокой скоростью работы;</li>
            <li>креативными дизайнерами;</li>
            <li>квалифицированными сотрудниками;</li>
            <li>качественными материалами;</li>
            <li>прозрачными расценками;</li>
            <li>приятным сервисом;</li>
            <li>большим опытом;</li>
          </ul>
          <p style="text-align: justify">
            Мы сдали более 1500 оригинальных проектов, ремонтируя под ключ
            магазины, квартиры, комнаты. Мы выполняем как малярные работы, так и
            такие серьезные задания, как монтаж окон и установка сантехники. Мы
            не просто исполняем ваши желания, но составляем смету,
            самостоятельно заботимся о стройматериалах и помогаем вам найти
            лучшее решение по переделке вашего помещения.
          </p>
          <p class="title-fon" style="text-align: center; background: #77b136">
            Желаете выполнить аналогичный ремонт,<br />
            звоните&nbsp;+7 930 011 08 08, +7 930 400 00 01!<br />Вызов
            специалиста бесплатно!
          </p>
          <table class="table-uslugi">
            <tbody>
              <tr>
                <td>
                  <img
                    src="{% static 'main/img/remont-magazinov-torgovih-centrah-16.jpg' %}"
                    alt=""
                  />
                </td>
                <td>
                  <img
                    src="{% static 'main/img/remont-magazinov-torgovih-centrah-17.jpg' %}"
                    alt=""
                  />
                </td>
                <td>
                  <img
                    src="{% static 'main/img/remont-magazinov-torgovih-centrah-18.jpg' %}"
                    alt=""
                  />
                </td>
                <td>
                  <img
                    src="{% static 'main/img/remont-magazinov-torgovih-centrah-09.jpg' %}"
                    alt=""
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <img
                    src="{% static 'main/img/remont-magazinov-torgovih-centrah-20.jpg' %}"
                    alt=""
                  />
                </td>
                <td>
                  <img
                    src="{% static 'main/img/remont-magazinov-torgovih-centrah-21.jpg' %}"
                    alt=""
                  />
                </td>
                <td>
                  <img
                    src="{% static 'main/img/remont-magazinov-torgovih-centrah-22.jpg' %}"
                    alt=""
                  />
                </td>
                <td>
                  <img
                    src="{% static 'main/img/remont-magazinov-torgovih-centrah-07.jpg' %}"
                    alt=""
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <p>В сферу услуг компании входят:</p>
          <ul>
            <li>
              разработка индивидуального проекта интерьера торгового центра или
              магазина;
            </li>
            <li>облагораживание стен, потолков, полов;</li>
            <li>монтаж окон, дверей, сантехники;</li>
            <li>отделочные, плиточные, электромонтажные работы;</li>
            <li>демонтаж и подготовка здания к ремонту;</li>
          </ul>
          <p>
            Мы по праву именуемся одной из лучших фирм Воронежа: наш многолетний
            и многопроектный опыт говорят сами за себя. Не обращайтесь к дорогим
            компаниям и не переплачивайте за то, что «Ремонт 36» сделает
            надежнее и быстрее. Мы желаем видеть счастливых покупателей, а
            потому если вам необходимы ремонтные работы, рекомендуем позвонить
            нам прямо сейчас: +7 930 011 08 08, +7 930 400 00 01.
          </p>
          <p class="title" style="text-align: center">
            Качественный ремонт магазина по привлекательной цене!
          </p>
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %} 

{% block nostyle %} 
{% include 'main/posts.html' %} 
{% endblock%}
