{% extends 'main/base.html' %} 
{% load static %} 
{% block slide %} 
{% include 'main/slideshow.html' %} 
{% endblock %} 
{% block content %}
<div class="entry-content">
  <div class="item-page">
    <article class="dd-post">
      <div class="dd-postcontent clearfix">
        <div class="dd-article">
          <div class="entry-title">
            <h1>Ремонт ванной комнаты в Воронеже</h1>
          </div>
          <p>
            В ванной комнате люди не находятся так часто, как, к примеру, на
            кухне или в спальне, но к внешнему виду и оснащению предъявляются
            серьезные требования. Поэтому капитальный ремонт ванной комнаты под
            ключ в Воронеже – очень актуальный вопрос. <br />Отделка ванной
            комнаты сопряжена большими рисками. Незначительная ошибка, случайный
            просчет могут свести все на нет. Поэтому доверьтесь профессионалам с
            опытом работы и необходимыми инструментами косметические работы. С
            таким подходом получите идеальный дизайн и ванную Вашей мечты.
          </p>
          <table class="table-uslugi">
            <tbody>
              <tr>
                <td>
                  <p>
                    <img
                      src="{% static 'main/img/remont-vannoy-komnaty-voronezh-dom.jpg' %}"
                      alt="ремонт ванной"
                    />
                  </p>
                  <p>Ремонт ванной в частном доме</p>
                </td>
                <td>
                  <p>
                    <img
                      src="{% static 'main/img/remont-vannoy-komnaty-voronezh-kvartira.jpg' %}"
                      alt="ремонт ванной в воронеже в квартире"
                    />
                  </p>
                  <p>Ремонт ванной в квартире</p>
                </td>
                <td>
                  <p>
                    <img
                      src="{% static 'main/img/remont-vannoy-komnaty-voronezh-kottedzh.jpg' %}"
                      alt="ремонт ванной в коттедже"
                    />
                  </p>
                  <p>Ремонт ванной в коттедже</p>
                </td>
                <td>
                  <p>
                    <img
                      src="{% static 'main/img/remont-vannoy-komnaty-voronezh-novostroika.jpg' %}"
                      alt="ремонт ванной в новостройке"
                    />
                  </p>
                  <p>Ремонт ванной в новостройке</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    <img
                      src="{% static 'main/img/remont-vannoy-komnaty-voronezh-dacha.jpg' %}"
                      alt="ремонт ванной на даче"
                    />
                  </p>
                  <p>Ремонт ванной на даче</p>
                </td>
                <td>
                  <p>
                    <img
                      src="{% static 'main/img/remont-vannoy-komnaty-voronezh-zagorodniy-dom.jpg' %}"
                      alt="ремонт ванной в загородном доме"
                    />
                  </p>
                  <p>Ремонт ванной в загородном доме</p>
                </td>
                <td>
                  <p>
                    <img
                      src="{% static 'main/img/remont-vannoy-komnaty-voronezh-banya-sauna.jpg' %}"
                      alt="ремонт ванной в банях, саунах"
                    />
                  </p>
                  <p>Ремонт ванной в банях, саунах</p>
                </td>
                <td>
                  <p>
                    <img
                      src="{% static 'main/img/remont-vannoy-komnaty-voronezh-sport.jpg' %}"
                      alt="ремонт ванной комнаты в спортивных клубах"
                    />
                  </p>
                  <p>Ремонт ванной в спортивных клубах</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    <img
                      src="{% static 'main/img/remont-vannoy-komnaty-voronezh-fitnes.jpg' %}"
                      alt="ремонт ванной комнаты в фитнес центрах"
                    />
                  </p>
                  <p>Ремонт ванной комнаты в фитнес центрах</p>
                </td>
                <td>
                  <p>
                    <img
                      src="{% static 'main/img/remont-vannoy-komnaty-voronezh-sanatoriy.jpg' %}"
                      alt="ремонт ванной в санаториях"
                    />
                  </p>
                  <p>Ремонт ванной комнаты в санаториях</p>
                </td>
                <td>
                  <p>
                    <img
                      src="{% static 'main/img/remont-vannoy-komnaty-voronezh-bolnica.jpg' %}"
                      alt="ремонт ванной комнаты в больницах"
                    />
                  </p>
                  <p>Ремонт ванной комнаты в больницах</p>
                </td>
                <td>
                  <p>
                    <img
                      src="{% static 'main/img/remont-vannoy-komnaty-voronezh-kompleksy.jpg' %}"
                      alt="ремонт ванной в оздоровтельных комплексах"
                    />
                  </p>
                  <p>Ремонт ванной в оздоровтельных комплексах</p>
                </td>
              </tr>
            </tbody>
          </table>
          <h2>Выбор материалов для ремонта</h2>
          <p>
            Неважно, будете проводить работы самостоятельно или обратитесь к
            профессионалам, Вам не обойтись без необходимых материалов. Огромный
            ассортимент отделочных материалов, сантехники и прочих необходимых
            атрибутов для комплексного ремонта ставит в тупик даже подкованных в
            ремонтных делах людей.
          </p>
          <p>
            Чтобы сэкономить и сделать недорогой ремонт ванной проводите
            демонтажные работы самостоятельно. Не забывайте прежде, чем начинать
            демонтаж обсудите с исполнителем, что стоит сносить, а что лучше
            оставить.
          </p>
          <p>
            Мастера осуществляют все виды работ: перепланировка, замена труб,
            монтаж сантехники, штробление стен, установка дверей, укладка
            плитки.
          </p>
          <p>
            Рассчитать стоимость ремонта санузла и составить смету помогут наши
            сотрудники. Для этого позвоните нам по телефону
            <strong>+7 930 400 00 01</strong> и договоритесь о выезде мастера и
            оценке работ.
          </p>
          <p>
            Мы оказываем индивидуальный подход к каждому клиенту, так как нельзя
            оценить одинаково состояние всех помещений, желаний заказчика и
            других факторов.
          </p>
          <p>Этапы ремонта включают</p>
          <ul>
            <li>
              Демонтаж. Избавление от старой сантехники, приборов, мебели,
              удалении старой плитки и других материалов.
            </li>
            <li>
              Выравнивание стен и стяжка пола. После очистки стен, приступают к
              устройству стен. Перед тем как уложить плитку, требуется
              обработать стены от грибка и плесени специальными средствами.
            </li>
            <li>
              Гидроизоляция в санузлах. Что бы обезопасить себя и соседей от
              затопления, также уделяется внимание гидроизоляционному слою. Не
              всегда хорошая сантехника может стать 100% защитой.
            </li>
            <li>
              Теплый пол. Все большую популярность набирают электрические
              нагревательные маты, которые обеспечивают быстрый обогрев пола.
            </li>
            <li>
              Отделочные работы в санузле. Выбор отделочных материалов (плитки,
              мазайки и др) зависит от финансовых возможностей и личных
              предпочтений. Уделяйте особое внимание качеству и безопасности
              продукции.
            </li>
            <li>
              Установка сантехники в ванной. Грамотный монтаж важен не менее
              качественного оборудования.
            </li>
          </ul>
          <table class="table-uslugi">
            <tbody>
              <tr>
                <td style="text-align: center">
                  <p>
                    <img
                      src="{% static 'main/img/vanna-pod-klyuch-yellow.jpg' %}"
                      alt="ванна желтая"
                    />
                  </p>
                  <p>Желтая ванна</p>
                </td>
                <td style="text-align: center">
                  <p>
                    <img
                      src="{% static 'main/img/vanna-pod-klyuch-violet.jpg' %}"
                      alt="ванна под ключ сиреневая"
                    />
                  </p>
                  <p>Сиреневая ванна</p>
                </td>
                <td style="text-align: center">
                  <p>
                    <img
                      src="{% static 'main/img/vanna-pod-klyuch-red.jpg' %}"
                      alt="ванна под ключ красная"
                    />
                  </p>
                  <p>Красная ванна</p>
                </td>
                <td style="text-align: center">
                  <p>
                    <img
                      src="{% static 'main/img/vanna-pod-klyuch-orange.jpg' %}"
                      alt="ванна под ключ оранжевая"
                    />
                  </p>
                  <p>Ванна под ключ оранжевая</p>
                </td>
              </tr>
              <tr>
                <td style="text-align: center">
                  <p>
                    <img
                      src="{% static 'main/img/vanna-pod-klyuch-blue.jpg' %}"
                      alt="ванна под ключ голубая"
                    />
                  </p>
                  <p>Голубая ванна под ключ</p>
                </td>
                <td style="text-align: center">
                  <p>
                    <img
                      src="{% static 'main/img/vanna-pod-klyuch-belaya.jpg' %}"
                      alt="ванна под ключ белая"
                    />
                  </p>
                  <p>Белая ванна</p>
                </td>
                <td style="text-align: center">
                  <p>
                    <img
                      src="{% static 'main/img/vanna-pod-klyuch-black.jpg' %}"
                      alt="ванна под ключ черная"
                    />
                  </p>
                  <p>Черная ванна под ключ</p>
                </td>
                <td style="text-align: center">
                  <p>
                    <img
                      src="{% static 'main/img/vanna-pod-klyuch-brown.jpg' %}"
                      alt="ванна под ключ коричневая"
                    />
                  </p>
                  <p>Коричневая ванна под ключ</p>
                </td>
              </tr>
            </tbody>
          </table>
          <h2>Что включает в себя ремонт ванной «под ключ»</h2>
          <p>
            Если Вы обратитесь в фирму <strong>"Ремонт 36"</strong>, то полный
            цикл будет включать в себя следующие этапы:
          </p>
          <ul>
            <li>оформление дизайнерского проекта (при желании);</li>
            <li>составление сметы на ремонт;</li>
            <li>
              демонтаж старого покрытия, дверей, сантехники и трубопроводов;
            </li>
            <li>проведение электромонтажных работ по правилам и нормам;</li>
            <li>установка труб;</li>
            <li>выравнивание стен, пола и при необходимости потолка;</li>
            <li>укладка плитки на поверхностях;</li>
            <li>отделка потолка;</li>
            <li>установка дверей, сантехники, кранов;</li>
            <li>финишная отделка (затирка швов, установка откосов и т.д.)</li>
          </ul>
          <p>
            Заранее продумывайте расположение розеток и включателей. Наши
            мастера сделают работу в короткие сроки (2-4 недели, в зависимости
            от сложности и желаний заказчика), но не в ущерб качеству. Цена на
            ремонт ванной и туалета колеблется в широком диапазоне.
          </p>
          <p>На стоимость влияют такие факторы:</p>
          <ul>
            <li>размер комнаты,</li>
            <li>сложность подготовительных и основных трудозатрат,</li>
            <li>используемые материалы,</li>
            <li>пожелания заказчика и т.д.</li>
          </ul>
          <p>
            Мы ценим сотрудников, но клиента ценим не меньше. Поэтому у нас нет
            скрытых начислений на несуществующие работы. Оплата происходит
            согласно смете. Мы обсуждаем с клиентом заранее возможное повышение
            стоимости.
          </p>
          <table class="price">
            <tbody>
              <tr>
                <td
                  style="
                    width: 478.55pt;
                    border: 1pt solid windowtext;
                    padding: 0cm 5.4pt;
                  "
                  colspan="4"
                  valign="top"
                  width="638"
                >
                  <h3>Цена на ремонт ванной комнаты 2020-2021</h3>
                </td>
              </tr>
              <tr>
                <td>
                  <p>1</p>
                </td>
                <td>
                  <p>Демонтаж унитаза</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>2</p>
                </td>
                <td>
                  <p>Демонтаж мойки</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>400</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>3</p>
                </td>
                <td>
                  <p>Демонтаж полотенцесушителя</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>4</p>
                </td>
                <td>
                  <p>Демонтаж ванны чугунной (без утилизации)</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>1500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>5</p>
                </td>
                <td>
                  <p>Демонтаж ванны стальной (без утилизации)</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>800</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>6</p>
                </td>
                <td>
                  <p>Демонтаж ванны акриловой (без утилизации)</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>750</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>7</p>
                </td>
                <td>
                  <p>Демонтаж мойки на кронштейнах</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>8</p>
                </td>
                <td>
                  <p>Демонтаж бойлера</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>800</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>9</p>
                </td>
                <td>
                  <p>Демонтаж «мойдодыра» (в сборе)</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>10</p>
                </td>
                <td>
                  <p>Демонтаж «тюльпана» (в сборе)</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>11</p>
                </td>
                <td>
                  <p>Демонтаж смесителя</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>350</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>12</p>
                </td>
                <td>
                  <p>Демонтаж крана шарового от ½ до 1</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>150</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>13</p>
                </td>
                <td>
                  <p>Демонтаж штанги от душа</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>150</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>14</p>
                </td>
                <td>
                  <p>Демонтаж фильтра ТО с креплением на «американках»</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>250</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>15</p>
                </td>
                <td>
                  <p>Демонтаж фильтра ТО с креплением на жестком соединении</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>16</p>
                </td>
                <td>
                  <p>Демонтаж фильтра грубой очистки</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>200</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>17</p>
                </td>
                <td>
                  <p>Демонтаж регулятора давления</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>250</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>18</p>
                </td>
                <td>
                  <p>Демонтаж счетчиков воды</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>350</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>19</p>
                </td>
                <td>
                  <p>Демонтаж труб водоснабжения</p>
                </td>
                <td>
                  <p>пог.м</p>
                </td>
                <td>
                  <p>120</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>20</p>
                </td>
                <td>
                  <p>Демонтаж труб канализации (пластик)</p>
                </td>
                <td>
                  <p>пог.м</p>
                </td>
                <td>
                  <p>150</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>21</p>
                </td>
                <td>
                  <p>Демонтаж труб канализации (чугун, металл)</p>
                </td>
                <td>
                  <p>пог.м</p>
                </td>
                <td>
                  <p>900</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>22</p>
                </td>
                <td>
                  <p>Демонтаж сифоно мойки</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>200</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>23</p>
                </td>
                <td>
                  <p>
                    Штробление стен под трубы водоснабжения в бетоне (дм до 25
                    мм)
                  </p>
                </td>
                <td>
                  <p>пог.м</p>
                </td>
                <td>
                  <p>550</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>24</p>
                </td>
                <td>
                  <p>
                    Штробление стен под трубы водоснабжения в кирпиче (дм до 25
                    мм)
                  </p>
                </td>
                <td>
                  <p>пог.м</p>
                </td>
                <td>
                  <p>450</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>25</p>
                </td>
                <td>
                  <p>
                    Штробление стен под трубы водоснабжения в гипсе (дм до 25
                    мм)
                  </p>
                </td>
                <td>
                  <p>пог.м</p>
                </td>
                <td>
                  <p>350</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>26</p>
                </td>
                <td>
                  <p>
                    Штробление стен под трубы канализации в бетоне (дм до 50 мм)
                  </p>
                </td>
                <td>
                  <p>пог.м</p>
                </td>
                <td>
                  <p>900</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>27</p>
                </td>
                <td>
                  <p>
                    Штробление стен под трубы канализации в кирпиче (дм до 50
                    мм)
                  </p>
                </td>
                <td>
                  <p>пог.м</p>
                </td>
                <td>
                  <p>650</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>28</p>
                </td>
                <td>
                  <p>
                    Штробление стен под трубы канализации в гипсе (дм до 50 мм)
                  </p>
                </td>
                <td>
                  <p>пог.м</p>
                </td>
                <td>
                  <p>500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>29</p>
                </td>
                <td>
                  <p>Прокладка ПП труб ( дм до 32 мм)</p>
                </td>
                <td>
                  <p>пог.м</p>
                </td>
                <td>
                  <p>150</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>30</p>
                </td>
                <td>
                  <p>Устройство водопроводных выводов</p>
                </td>
                <td>
                  <p>точка</p>
                </td>
                <td>
                  <p>От 800</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>31</p>
                </td>
                <td>
                  <p>Прокладка канализационных труб (дм 55 мм)</p>
                </td>
                <td>
                  <p>пог.м</p>
                </td>
                <td>
                  <p>200</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>32</p>
                </td>
                <td>
                  <p>Прокладка канализационных труб (дм 110 мм)</p>
                </td>
                <td>
                  <p>пог.м</p>
                </td>
                <td>
                  <p>250</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>33</p>
                </td>
                <td>
                  <p>Устройство канализационных выводов</p>
                </td>
                <td>
                  <p>точка</p>
                </td>
                <td>
                  <p>750</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>34</p>
                </td>
                <td>
                  <p>Установка ванны акриловой с гидромассажем</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>От 4000</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>35</p>
                </td>
                <td>
                  <p>Установка ванны чугунной с обвязкой</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>3000</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>36</p>
                </td>
                <td>
                  <p>Установка ванны стальной с обвязкой</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>2500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>37</p>
                </td>
                <td>
                  <p>Установка ванны акриловой с обвязкой</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>3500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>38</p>
                </td>
                <td>
                  <p>Установка экрана под ванну</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>От 600</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>39</p>
                </td>
                <td>
                  <p>Установка душевой кабины</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>От 4500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>40</p>
                </td>
                <td>
                  <p>Установка душевого поддона</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>2000</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>41</p>
                </td>
                <td>
                  <p>Установка биде напольного без смесителя</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>2500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>42</p>
                </td>
                <td>
                  <p>Установка смесителя</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>650</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>43</p>
                </td>
                <td>
                  <p>Установка полотенцесушителя</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>2500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>44</p>
                </td>
                <td>
                  <p>Установка зеркала</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>700</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>45</p>
                </td>
                <td>
                  <p>Установка и подключение стиральной машины</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>1000</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>46</p>
                </td>
                <td>
                  <p>Установка и подключение посудомоечной машины</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>1000</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>47</p>
                </td>
                <td>
                  <p>Установка счетчика воды</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>600</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>48</p>
                </td>
                <td>
                  <p>Монтаж теплого пола</p>
                </td>
                <td>
                  <p>кв.м</p>
                </td>
                <td>
                  <p>От 450</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>49</p>
                </td>
                <td>
                  <p>Установка водонагревателя</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>2500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>50</p>
                </td>
                <td>
                  <p>Установка штанги для душа</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>1000</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>51</p>
                </td>
                <td>
                  <p>Установка запорной арматуры</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>350</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>52</p>
                </td>
                <td>
                  <p>Сборка и монтаж радиатора отопления</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>3000</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>53</p>
                </td>
                <td>
                  <p>Замена стояков отопления</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>3500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>54</p>
                </td>
                <td>
                  <p>Устройство перехода со стальной трубы на полипропилен</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>800</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>55</p>
                </td>
                <td>
                  <p>Установка фильтра виды грубой очистки</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>300</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>56</p>
                </td>
                <td>
                  <p>Установка фильтра воды тонкой очистки</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>От 1500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>57</p>
                </td>
                <td>
                  <p>Замена стояков</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>От 3500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>58</p>
                </td>
                <td>
                  <p>
                    Подключение в чугунный канализационный стояк пластиком с
                    демонтажем
                  </p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>1000</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>59</p>
                </td>
                <td>
                  <p>Замена картриджей фильтра</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>300</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>60</p>
                </td>
                <td>
                  <p>Сборка и монтаж унитаза</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>2500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>61</p>
                </td>
                <td>
                  <p>Установка тюльпана</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>2000</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>62</p>
                </td>
                <td>
                  <p>Установка сифона</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>350</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>63</p>
                </td>
                <td>
                  <p>Установка мойдодыра</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>2000</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>64</p>
                </td>
                <td>
                  <p>Монтаж инсталляции</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>5000</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>65</p>
                </td>
                <td>
                  <p>Установка трапа в пол</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>1000</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>66</p>
                </td>
                <td>
                  <p>Монтаж сан-тех люков ПВХ</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>500</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>67</p>
                </td>
                <td>
                  <p>Установка вентиляционных решеток</p>
                </td>
                <td>
                  <p>шт.</p>
                </td>
                <td>
                  <p>250</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %} 
{% block nostyle %} 
{% include 'main/posts.html' %} 
{% endblock%}
