{% extends 'main/base.html' %} 
{% load static %} 

{% block slide %} 
{% include 'main/slideshow.html' %} 
{% endblock %} 

{% block content %}
<div class="entry-content">
  <div class="item-page">
    <article class="dd-post">
      <div class="dd-postcontent clearfix">
        <div class="dd-article">
          <header class="entry-header">
            <div class="entry-title">
              <h1>Ремонт балконов и лоджий в Воронеже</h1>
            </div>
          </header>
          <p>
            Мы специализируемся на строительно-ремонтных работах, предоставляем
            весь спектр сопутствующих услуг по созданию индивидуального
            дизайн-проекта, расстановке мебели, закупке материалов. Цена на
            ремонт балконов и лоджий в Воронеже в компании «Ремонт 36»
            рассчитывается сугубо индивидуально.
          </p>
          <p>
            Ремонт традиционно включает следующие работы: электромонтажные;
            теплоизоляционные; облицовочные. Замерщики в ранее оговоренные сроки
            приедут на объект, оценят текущее состояние балконного помещения и
            составят смету согласно объему будущих работ.
          </p>
          <p>
            <img
              style="margin: 0; width: 100%"
              src="{% static 'main/img/otdelka-balkon-lodjia.jpg' %}"
              alt="ремонт балконов, лоджий цены"
            />
          </p>
          <p>
            <img
              style="margin: 0; width: 100%"
              src="{% static 'main/img/otdelka-balkon-lodjia-cena.jpg' %}"
              alt="ремонт балкона"
            />
          </p>
          <p>
            <img
              style="margin: 0; width: 100%"
              src="{% static 'main/img/osteklenie-lodzhiya-panorama.jpg' %}"
              alt="остекление панорамное лоджии, балконов"
            />
          </p>
          <h4>Продолжительность реконструкции</h4>
          <p>
            Наши мастера выполняют задачи быстро и качественно. С нами ремонт
            балконов будет окончен своевременно, по низким ценам, без любых
            задержек и недочетов. Чтобы понимать, на какой период времени
            затянется реконструкция, следует опираться на следующие факторы:
          </p>
          <ul>
            <li>необходимость проводить перепланировку;</li>
            <li>создание уникального или использование готового проекта;</li>
            <li>масштабы и сложности выполняемых работ.</li>
          </ul>
          <p>
            Отделка или реконструкция эконом-класса часто подразумевают снос
            стен и демонтаж других конструкций. В таком случае работы будут
            длиться дольше, а стоимость будет выше в сравнении с частичной
            отделкой. Сюда же включается цена на остекление лоджий и балконов,
            стоимость утепления, обшивки, устройства полов и кровли, расстановка
            мебели.
          </p>
          <p>
            <img
              style="margin: 0; width: 100%"
              src="{% static 'main/img/lodjiya-objedinenie-prostranstva.jpg' %}"
              alt="лоджия объединение пространства"
            />
          </p>
          <h5>Преимущества «Ремонт 36»</h5>
          <p>
            Сотрудники нашей компании располагают не только профильными знаниями
            в области строительства и ремонта, но и полноценным арсеналом
            оборудования и инструмента. В оговоренные сроки мастера прибудут на
            объект заказчика для осуществления замеров и составления сметы.
            После того как все расчеты будут произведены, специалисты подготовят
            план будущего ремонта лоджии (балкона) и пакет проектной
            документации. Главными преимуществами сотрудничества с нами
            являются:
          </p>
          <ul>
            <li>минимальные сроки;</li>
            <li>реализация уникальных проектов;</li>
            <li>профессионализм сотрудников;</li>
            <li>адекватные, доступные каждому цены.</li>
          </ul>
          <p>
            Сотрудничая с нами, вы существенно сэкономите средства и время.
            Стоит учесть, что при планировании ремонта с перепланировкой и
            сносом стен балконной конструкции в многоквартирном доме, в
            обязательном порядке стоит согласовать свои решения с
            соответствующими органами и БТИ.
          </p>
          <p style="font-size: 18px; font-weight: bold; text-align: center">
            Узнавайте цены: +7 930 400 00 01, +7 930 011 08 08.
          </p>
          <p style="font-size: 18px; font-weight: bold; text-align: center">
            Звоните прямо сейчас!
          </p>
          <table class="table-uslugi" border="0" align="center">
            <tbody>
              <tr>
                <td>
                  <p>
                    <img
                      src="{% static 'main/img/osteklenie-balkonov-i-lodzhij.jpg' %}"
                      alt="osteklenie-balkonov-i-lodzhij"
                      width="280"
                      height="210"
                    />
                  </p>
                  <p>
                    <a
                      href=""
                      >Остекление балконов и лоджий</a
                    >
                  </p>
                </td>
                <td>
                  <p>
                    <img
                      src="{% static 'main/img/otdelka-balkonov-i-lodzhij.jpg' %}"
                      alt="otdelka-balkonov-i-lodzhij"
                      width="280"
                      height="243"
                    />
                  </p>
                  <p>
                    <a
                      href=""
                      >Отделка балконов и лоджий</a
                    >
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}

{% block nostyle %} 
{% include 'main/posts.html' %} 
{% endblock%}