{% extends 'main/base.html' %} 
{% load static %} 

{% block slide %} 
{% include 'main/slideshow.html' %} 
{% endblock %} 

{% block content %}
<div class="entry-content">
  <div class="item-page">
    <article class="dd-post">
      <div class="dd-postcontent clearfix">
        <div class="dd-article">
          <h1>Ремонт квартир в новостройках в Воронеже</h1>
          <p>
            <img
              style="width: 280px; float: right; margin: 0 0 0 10px"
              title="Ремонт в новостройках Воронежа"
              src="{% static 'main/img/remont-v-novostroike.jpg' %}"
              alt="Ремонт в новостройках Воронежа"
            />
          </p>
          <p>
            Приобретая квартиру в новостройке с черновой отделкой, Вы можете
            выполнить ремонт, который подойдет именно Вам. Цена ремонта от 1000
            руб/кв м.
            <a href="/" title="Ремонт в новостройке под ключ Воронеж"
              ><strong>Ремонт в новостройке под ключ в Воронеже</strong></a
            >
            можно выполнить недорого, выполняя только необходимые работы и
            приобретая для ремонта бюджетные материалы. Мы работаем с проектами
            новостроек любой сложности, укладываемся в сроки, предоставляем
            широкий спектр услуг с гарантией. Наши специалисты позаботятся об
            обустройстве квартиры, ее качественной отделке.
          </p>
          <p>
            <img
              style="
                width: 280px;
                float: right;
                margin: 30px 0 10px 10px;
                clear: both;
              "
              title="ремонт в новостройке под ключ"
              src="{% static 'main/img/remont-v-novostroike-kvartire.jpg' %}"
              alt="ремонт в новостройке под ключ"
            />
          </p>
          <p>
            <strong>Ремонт квартир в новостройке под ключ</strong> в Воронеже
            начинается с выезда замерщика на объект, оценки текущего состояния
            квартиры, расчет цены ремонта и отделки. С помощью дизайн-проекта
            спустя некоторое время заказчику предоставляется возможность
            наглядно увидеть будущий ремонт своей новой квартиры, выполненный
            под ключ. В документе подробно расписаны дальнейшие действия, а в
            визуальном проекте показан весь комплект элементов будущего
            интерьера (расположение розеток, расстановка мебели, цвет обоев). На
            основе полученной информации составляется план действий по ремонту
            для строителей.
          </p>
          <p>
            Предлагаем ознакомиться с перечнем выполняемых работ, их
            особенностями.
          </p>
          <h2>Что входит в услугу «под ключ»</h2>
          <p>
            <img
              style="
                width: 280px;
                float: right;
                margin: 14px 0 10px 10px;
                clear: both;
              "
              title="ремонт квартир новостройки в Воронеже"
              src="{% static 'main/img/remont-v-novostroike-cena.jpg' %}"
              alt="ремонт квартир новостройки в Воронеже"
            />
          </p>
          <p>
            Обычно квартира, сданная в новом многоквартирном доме в
            эксплуатацию, представляет собой коробку. Чтобы превратить ее в
            полноценную квартиру, требуется целый ряд мероприятий, которые
            специалисты компании «Ремонт 36» выполнят профессионально, недорого
            и быстро. Мы выполняем следующие виды работ:
          </p>
          <ul>
            <li>оценка состояния помещений инженером-замерщиком;</li>
            <li>создание уникального дизайн-проекта;</li>
            <li>капитальные и технические работы;</li>
            <li>финальная отделка.</li>
          </ul>
          <p>
            Также ремонт квартир в новостройке, который выполняется с нуля,
            обязательно предполагает капитальные и технические мероприятия. На
            этом этапе наши специалисты выполнят перепланировку, перенос стен,
            замену или монтаж сантехники, внесут при необходимости корректировки
            в схему электропроводки.
          </p>
          <p>
            <img
              style="width: 280px; float: right; margin: 0 0 10px 10px"
              title="ремонт в новостройке цены"
              src="{% static 'main/img/remont-v-novostroike-pod-kluch.jpg' %}"
              alt="ремонт в новостройке цены"
            />
          </p>
          <p>
            При этом все услуги предоставляются квалифицированными строителями,
            работающими строго по технологии, СНиП и ГОСТ. Цена работы с
            материалом заказчика является невысокой, однако зависит от сложности
            и площади помещений.
          </p>
          <p>
            Финальная отделка – заключительный этап. Подразумевает установку
            черновых и чистовых материалов для подготовки к дизайнерскому
            оформлению комнат. В итоге вы получаете новое жилище и максимально
            комфортабельные условия, и все это – по доступной стоимости.
          </p>
          <p>
            Чтобы воспользоваться услугами нашей компании в Воронеже, предлагаем
            ознакомиться с ценами на сайте и оформить заявку любым доступным
            способом. Мы пришлем замерщика на объект и начнем выполнение
            необходимых процедур незамедлительно.
          </p>
          <p style="font-weight: bold">
            Работаем без посредников, оперативно и профессионально.
          </p>
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}

{% block nostyle %} 
{% include 'main/posts.html' %} 
{% endblock%}