{% extends 'main/base.html' %}
{% load static %}

{% block slide %}
{% include 'main/slideshow.html' %}
{% endblock %}

{% block content %}
<div class="entry-content"><div class="item-page"><article class="dd-post"><div class="dd-postcontent clearfix"><div class="dd-article"><h1>Сантехнические работы в Воронеже</h1>
    <p><img style="margin-right: 5px; margin-left: 5px; float: right;" src="{% static 'main/img/santekhnicheskie-raboty.jpg' %}" alt="сантехнические работы" width="350" height="241">Все мы давно пользуемся коммунальными благами цивилизации, поэтому, как только что-то ломается, то мы уже испытываем дискомфорт. Течет кран, счетчик на воду барахлит, трубы поизносились и в них слышен подозрительный шум — во всех этих случаях сантехнические работы крайне необходимы.</p>
    <p>Не секрет, что мы желаем создать себе комфорт в доме максимального уровня. При этом наши запросы на сантехработы — постоянно растут! Ничего нет плохого в том, что мы стремимся жить все лучше и лучше.</p>
    <p>Наша компания выполнит ремонт ванной в Воронеже различной сложности (цены на сантехнические работы см.ниже), согласно СНиП, также мировым стандартам и модным направлениям. На все работы мы даем гарантии. Мы профессионально занимаемся ремонтом с заменой сантехники.</p>
    <h2>Быстрая установка сантехники</h2>
    <p><img style="margin-right: 5px; margin-left: 5px; float: left;" src="{% static 'main/img/santekhnicheskie-raboty-vrn.png' %}" alt="сантехработы в Воронеже" width="350" height="263">Перед Вами широкий перечень наших услуг. Вам требуется демонтаж и установка сантехники в Воронеже — мы всегда учитываем все Ваши пожелания. Каждый заказ нами рассматривается в индивидуальном режиме.</p>
    <h2>Расценки на сантехработы по себестоимости</h2>
    <p>Сам вызов мастера обходится горожанам недешево. У нас он — <strong>бесплатный</strong> и чтобы осуществить <a href="/vyzvat-santekhnika-voronezh">вызов сантехника</a> Вам надо позвонить на номер <strong>+7 930 400 00 01</strong>. Поэтому люди охотно сотрудничают с нами на доверительно-долгосрочной основе. И на сантехнические работы расценки в Воронеже у нас самые демократические и мы выполняем весь комплекс сантехнических и демонтажных работ.</p>
    <p>Познакомьтесь, пожалуйста, с нашими прайс-предложениями, и Вы удостоверитесь в этом. Вам необходим ремонт – мы посоветуем материалы, подходящие для того чтобы отремонтировать ванную комнату, а также для ремонта в туалете по низким ценам. Также посоветуем оборудование от именитых производителей, которые выпускают продукцию только превосходного качества. По выполнении заказа мы предоставляем полную отчётность.</p>
    <p>&nbsp;</p>
    <p>		</p><div class="moduletable">
                        <table class="price">
    <tbody>
    <tr>
    <td style="width: 478.55pt; padding: 0cm 5.4pt; border: 1pt solid windowtext;" colspan="5" valign="top" width="638">
    <h3>Цены на сантехнические работы 2020-2021</h3>
    </td>
    </tr>
    <tr>
    <td>1</td>
    <td>Демонтаж унитаза </td>
    <td>шт.</td>
    <td>600</td>
    </tr>
    <tr>
    <td>2</td>
    <td>Демонтаж мойки</td>
    <td>шт.</td>
    <td>700</td>
    </tr>
    <tr>
    <td>3</td>
    <td>Демонтаж полотенцесушителя</td>
    <td>шт.</td>
    <td>800</td>
    </tr>
    <tr>
    <td>4</td>
    <td>Демонтаж ванны чугунной (без утилизации)</td>
    <td>шт.</td>
    <td>2500</td>
    </tr>
    <tr>
    <td>5</td>
    <td>Демонтаж ванны стальной (без утилизации)</td>
    <td>шт.</td>
    <td>1000</td>
    </tr>
    <tr>
    <td>6</td>
    <td>Демонтаж ванны акриловой (без утилизации)</td>
    <td>шт.</td>
    <td>1000</td>
    </tr>
    <tr>
    <td>7</td>
    <td>Демонтаж мойки на кронштейнах</td>
    <td>шт.</td>
    <td>600</td>
    </tr>
    <tr>
    <td>8</td>
    <td>Демонтаж бойлера</td>
    <td>шт.</td>
    <td>900</td>
    </tr>
    <tr>
    <td>9</td>
    <td>Демонтаж «мойдодыра» (в сборе)</td>
    <td>шт.</td>
    <td>700</td>
    </tr>
    <tr>
    <td>10</td>
    <td>Демонтаж «тюльпана» (в сборе)</td>
    <td>шт.</td>
    <td>600</td>
    </tr>
    <tr>
    <td>11</td>
    <td>Демонтаж стиральной машины</td>
    <td>шт.</td>
    <td>600</td>
    </tr>
    <tr>
    <td>12</td>
    <td>Демонтаж инсталяции</td>
    <td>шт.</td>
    <td>1200</td>
    </tr>
    <tr>
    <td>13</td>
    <td>Демонтаж смесителя</td>
    <td>шт.</td>
    <td>400</td>
    </tr>
    <tr>
    <td>14</td>
    <td>Демонтаж крана шарового от ½ до 1</td>
    <td>шт.</td>
    <td>200</td>
    </tr>
    <tr>
    <td>15</td>
    <td>Демонтаж штанги от душа</td>
    <td>шт.</td>
    <td>350</td>
    </tr>
    <tr>
    <td>16</td>
    <td>Демонтаж фильтра ТО с креплением на «американках»</td>
    <td>шт.</td>
    <td>300</td>
    </tr>
    <tr>
    <td>17</td>
    <td>Демонтаж фильтра ТО с креплением на жестком соединении</td>
    <td>шт.</td>
    <td>600</td>
    </tr>
    <tr>
    <td>18</td>
    <td>Демонтаж фильтра грубой очистки</td>
    <td>шт.</td>
    <td>250</td>
    </tr>
    <tr>
    <td>19</td>
    <td>Демонтаж регулятора давления</td>
    <td>шт.</td>
    <td>450</td>
    </tr>
    <tr>
    <td>20</td>
    <td>Демонтаж счетчиков воды</td>
    <td>шт.</td>
    <td>450</td>
    </tr>
    <tr>
    <td>21</td>
    <td>Демонтаж труб водоснабжения</td>
    <td>пог.м</td>
    <td>150</td>
    </tr>
    <tr>
    <td>22</td>
    <td>Демонтаж труб канализации (пластик)</td>
    <td>пог.м</td>
    <td>150</td>
    </tr>
    <tr>
    <td>23</td>
    <td>Демонтаж труб канализации (чугун, металл)</td>
    <td>пог.м</td>
    <td>900</td>
    </tr>
    <tr>
    <td>24</td>
    <td>Демонтаж сифона мойки</td>
    <td>шт.</td>
    <td>300</td>
    </tr>
    <tr>
    <td>25</td>
    <td>Штробление стен под трубы водоснабжения в бетоне (дм до 25 мм)</td>
    <td>пог.м</td>
    <td>650</td>
    </tr>
    <tr>
    <td>26</td>
    <td>Штробление стен под трубы водоснабжения в кирпиче (дм до 25 мм)</td>
    <td>пог.м</td>
    <td>550</td>
    </tr>
    <tr>
    <td>27</td>
    <td>Штробление стен под трубы водоснабжения в гипсе (дм до 25 мм)</td>
    <td>пог.м</td>
    <td>450</td>
    </tr>
    <tr>
    <td>28</td>
    <td>Штробление стен под трубы канализации в бетоне (дм до 50 мм)</td>
    <td>пог.м</td>
    <td>1200</td>
    </tr>
    <tr>
    <td>29</td>
    <td>Штробление стен под трубы канализации в кирпиче (дм до 50 мм)</td>
    <td>пог.м</td>
    <td>800</td>
    </tr>
    <tr>
    <td>30</td>
    <td>Штробление стен под трубы канализации в гипсе (дм до 50 мм)</td>
    <td>пог.м</td>
    <td>600</td>
    </tr>
    <tr>
    <td>31</td>
    <td>Пробивание отверстий для трубопровода диаметром до 32мм глубиной до 250мм</td>
    <td>шт.</td>
    <td>400</td>
    </tr>
    <tr>
    <td>32</td>
    <td>Пробивание отверстий для трубопровода диаметром до 32мм глубиной от 250мм до 400мм</td>
    <td>шт.</td>
    <td>500</td>
    </tr>
    <tr>
    <td>33</td>
    <td>Пробивание отверстий для трубопровода диаметром до 32мм глубиной от 400мм до 600мм</td>
    <td>шт.</td>
    <td>600</td>
    </tr>
    <tr>
    <td>34</td>
    <td>Пробивание отверстий для трубопровода диаметром от 32мм до 60мм глубиной до 250мм</td>
    <td>шт.</td>
    <td>600</td>
    </tr>
    <tr>
    <td>35</td>
    <td>Пробивание отверстий для трубопровода диаметром от 32мм до 60мм глубиной от 250 до 400мм</td>
    <td>шт.</td>
    <td>900</td>
    </tr>
    <tr>
    <td>36</td>
    <td>Пробивание отверстий для трубопровода диаметром от 32мм до 60мм глубиной от 400мм до 600мм</td>
    <td>шт.</td>
    <td>1200</td>
    </tr>
    <tr>
    <td>37</td>
    <td>Пробивание отверстий для трубопровода диаметром от 60мм до 110мм глубиной до 250мм</td>
    <td>шт.</td>
    <td>900</td>
    </tr>
    <tr>
    <td>38</td>
    <td>Пробивание отверстий для трубопровода диаметром от 60мм до 110мм глубиной от 250 до 400мм</td>
    <td>шт.</td>
    <td>1200</td>
    </tr>
    <tr>
    <td>39</td>
    <td>Пробивание отверстий для трубопровода диаметром от 60мм до 110мм глубиной от 400мм до 600мм</td>
    <td>шт.</td>
    <td>2100</td>
    </tr>
    <tr>
    <td>40</td>
    <td>Врезка в магистраль</td>
    <td>шт.</td>
    <td>750</td>
    </tr>
    <tr>
    <td>41</td>
    <td>Врезка в металопластик</td>
    <td>шт.</td>
    <td>300</td>
    </tr>
    <tr>
    <td>42</td>
    <td>Врезка в полипропилен</td>
    <td>шт.</td>
    <td>370</td>
    </tr>
    <tr>
    <td>43</td>
    <td>Прокладка ПП труб ( дм до 32 мм)</td>
    <td>пог.м</td>
    <td>200</td>
    </tr>
    <tr>
    <td>44</td>
    <td>Устройство водопроводных выводов</td>
    <td>точка</td>
    <td>900</td>
    </tr>
    <tr>
    <td>45</td>
    <td>Прокладка канализационных труб&nbsp; (дм 55 мм)</td>
    <td>пог.м</td>
    <td>250</td>
    </tr>
    <tr>
    <td>46</td>
    <td>Прокладка канализационных труб&nbsp; (дм 110 мм)</td>
    <td>пог.м</td>
    <td>350</td>
    </tr>
    <tr>
    <td>47</td>
    <td>Устройство канализационных выводов</td>
    <td>точка</td>
    <td>750</td>
    </tr>
    <tr>
    <td>48</td>
    <td>Установка ванны акриловой с гидромассажем</td>
    <td>шт.</td>
    <td>6500</td>
    </tr>
    <tr>
    <td>49</td>
    <td>Установка ванны чугунной с обвязкой</td>
    <td>шт.</td>
    <td>5000</td>
    </tr>
    <tr>
    <td>50</td>
    <td>Установка ванны стальной с обвязкой</td>
    <td>шт.</td>
    <td>3000</td>
    </tr>
    <tr>
    <td>51</td>
    <td>Установка ванны акриловой с обвязкой</td>
    <td>шт.</td>
    <td>4000</td>
    </tr>
    <tr>
    <td>52</td>
    <td>Установка экрана под ванну</td>
    <td>шт.</td>
    <td>от 500</td>
    </tr>
    <tr>
    <td>53</td>
    <td>Установка душевой кабины</td>
    <td>шт.</td>
    <td>от 6000</td>
    </tr>
    <tr>
    <td>54</td>
    <td>Установка душевого поддона</td>
    <td>шт.</td>
    <td>2000</td>
    </tr>
    <tr>
    <td>55</td>
    <td>Установка биде напольного без смесителя</td>
    <td>шт.</td>
    <td>2500</td>
    </tr>
    <tr>
    <td>56</td>
    <td>Установка гигиенического душа</td>
    <td>шт.</td>
    <td>1500</td>
    </tr>
    <tr>
    <td>57</td>
    <td>Установка смесителя</td>
    <td>шт.</td>
    <td>800</td>
    </tr>
    <tr>
    <td>58</td>
    <td>Монтаж штанги душа</td>
    <td>шт.</td>
    <td>1000</td>
    </tr>
    <tr>
    <td>59</td>
    <td>Установка полотенцесушителя</td>
    <td>шт.</td>
    <td>3000</td>
    </tr>
    <tr>
    <td>60</td>
    <td>Установка зеркала</td>
    <td>шт.</td>
    <td>1000</td>
    </tr>
    <tr>
    <td>61</td>
    <td>Установка фурнитуры в сан.узле</td>
    <td>шт.</td>
    <td>от 450</td>
    </tr>
    <tr>
    <td>62</td>
    <td>Установка и подключение стиральной машины</td>
    <td>шт.</td>
    <td>1000</td>
    </tr>
    <tr>
    <td>63</td>
    <td>Установка и подключение посудомоечной машины</td>
    <td>шт.</td>
    <td>1000</td>
    </tr>
    <tr>
    <td>64</td>
    <td>Установка счетчика воды</td>
    <td>шт.</td>
    <td>750</td>
    </tr>
    <tr>
    <td>65</td>
    <td>Монтаж теплого пола</td>
    <td>кв.м</td>
    <td>договорная</td>
    </tr>
    <tr>
    <td>66</td>
    <td>Установка водонагревателя</td>
    <td>шт.</td>
    <td>3000</td>
    </tr>
    <tr>
    <td>67</td>
    <td>Установка запорной арматуры</td>
    <td>шт.</td>
    <td>400</td>
    </tr>
    <tr>
    <td>68</td>
    <td>Установка обратного клапана</td>
    <td>шт.</td>
    <td>500</td>
    </tr>
    <tr>
    <td>69</td>
    <td>Установка редуктора давления</td>
    <td>шт.</td>
    <td>900</td>
    </tr>
    <tr>
    <td>70</td>
    <td>Установка манометра</td>
    <td>шт.</td>
    <td>400</td>
    </tr>
    <tr>
    <td>71</td>
    <td>Сборка и монтаж радиатора отопления</td>
    <td>шт.</td>
    <td>от 3500</td>
    </tr>
    <tr>
    <td>72</td>
    <td>Установка терморегулятора на радиаторы отопления</td>
    <td>шт.</td>
    <td>900</td>
    </tr>
    <tr>
    <td>73</td>
    <td>Замена стояков отопления</td>
    <td>шт.</td>
    <td>от 3500</td>
    </tr>
    <tr>
    <td>74</td>
    <td>Устройство перехода со стальной трубы на полипропилен</td>
    <td>шт.</td>
    <td>800</td>
    </tr>
    <tr>
    <td>75</td>
    <td>Установка фильтра виды грубой очистки</td>
    <td>шт.</td>
    <td>400</td>
    </tr>
    <tr>
    <td>76</td>
    <td>Установка фильтра воды тонкой очистки</td>
    <td>шт.</td>
    <td>2000</td>
    </tr>
    <tr>
    <td>77</td>
    <td>Замена стояков</td>
    <td>шт.</td>
    <td>от 3500</td>
    </tr>
    <tr>
    <td>78</td>
    <td>Подключение в чугунный канализационный стояк пластиком с демонтажем</td>
    <td>шт.</td>
    <td>4500</td>
    </tr>
    <tr>
    <td>79</td>
    <td>Врезка в канализационный стояк</td>
    <td>шт.</td>
    <td>2000</td>
    </tr>
    <tr>
    <td>80</td>
    <td>Врезка в водопроводный стояк</td>
    <td>шт.</td>
    <td>2000</td>
    </tr>
    <tr>
    <td>81</td>
    <td>Нарезание резьбы на трубопровод диаметром до 3/4</td>
    <td>шт.</td>
    <td>600</td>
    </tr>
    <tr>
    <td>82</td>
    <td>Нарезание резьбы на трубопровод диаметром до 1 1/4</td>
    <td>шт.</td>
    <td>800</td>
    </tr>
    <tr>
    <td>83</td>
    <td>Замена картриджей фильтра</td>
    <td>шт.</td>
    <td>500</td>
    </tr>
    <tr>
    <td>84</td>
    <td>Сборка и монтаж унитаза</td>
    <td>шт.</td>
    <td>от 2500</td>
    </tr>
    <tr>
    <td>85</td>
    <td>Установка тюльпана</td>
    <td>шт.</td>
    <td>2500</td>
    </tr>
    <tr>
    <td>86</td>
    <td>Установка сифона</td>
    <td>шт.</td>
    <td>600</td>
    </tr>
    <tr>
    <td>87</td>
    <td>Установка мойдодыра</td>
    <td>шт.</td>
    <td>2500</td>
    </tr>
    <tr>
    <td>88</td>
    <td>Монтаж инсталляции</td>
    <td>шт.</td>
    <td>от 5000</td>
    </tr>
    <tr>
    <td>89</td>
    <td>Установка трапа в пол</td>
    <td>шт.</td>
    <td>2000</td>
    </tr>
    <tr>
    <td>90</td>
    <td>Монтаж сан-тех люков ПВХ</td>
    <td>шт.</td>
    <td>800</td>
    </tr>
    <tr>
    <td>91</td>
    <td>Установка вентиляционных решеток</td>
    <td>шт.</td>
    <td>400</td>
    </tr>
    <tr>
    <td>92</td>
    <td>Установка газовой колонки</td>
    <td>шт.</td>
    <td>4000</td>
    </tr>
    <tr>
    <td>93</td>
    <td>Установка водонагревателя проточного</td>
    <td>шт.</td>
    <td>3800</td>
    </tr>
    <tr>
    <td>94</td>
    <td>Сварка труб</td>
    <td>-</td>
    <td>договорная</td>
    </tr>
    </tbody>
    </table>		</div>
        <p></p> </div></div></article></div></div>
{% endblock %}

{% block nostyle %}
{% include 'main/posts.html' %}
{% endblock %}