{% extends 'main/base.html' %}
{% load static %}

{% block slide %}
{% include 'main/slideshow.html' %}
{% endblock %}

{% block content %}
<div class="entry-content"><div class="item-page"><article class="dd-post"><div class="dd-postcontent clearfix"><div class="dd-article"><h1>Стяжка пола в Воронеже</h1>
    <p><strong>Стяжка пола</strong> - это цементно-песчаный слой, выравнивающий пол для финишного покрытия, цена стяжки в Воронеже от 350 руб. за м2. Стоимость вашей стяжки пола можно узнать по +7 930 400 00 01! Чтобы пол был идеально гладким можно поверх применить <a href="/nalivnoy-pol-cena" title="наливной пол в Воронеже">наливной пол</a>. Стяжка пола в Воронеже В наши дни одними из наиболее надежных и распространенных решений по отделке пола являются ламинатное покрытие, паркет, плитка, паркетная или массивная доска. В жилых комнатах наиболее приемлемые варианты – это ламинат или паркет. Последний способ обустройства пола, прямо скажем, недешевый. Однако внешняя аристократичность, долговечность и неприхотливые эксплуатационные достоинства паркета абсолютно оправдывают цену. Для кухни, ванной, туалета и нередко коридора вполне подходит плитка.</p>
    <p>Но до того, как прикрепить любой из этих материалов, необходимо произвести ряд работ по обустройству пола. Мы предлагаем профессиональное выполнение:</p>
    <ul>
    <li>деревянного пола, основные преимущества которого состоят в том, что он обладает отличными шумо- и теплоизоляционными качествами, также он намного легче цементной стяжки пола. По причине его стандартной высоты, равной 11 см, им не рекомендуют выравнивать полы в жилых помещениях.</li>
    <li>наливных полов, что является неплохим решением под ламинат или линолеум для выравнивания основания с незначительными перепадами. Но этот способ совершенно не годится для плитки и теплого пола.</li>
    <li>стяжки пола в Воронеже, которая позволяет выравнивать любые перепады и использоваться в любых помещениях.</li>
    </ul>
    <table class="table-uslugi" border="0" align="center">
    <tbody>
    <tr>
    <td>
    <p><img src="{% static 'main/img/otdelochnye-raboty.jpg' %}" alt="" width="170" height="144"></p>
    <p><a href="{% url 'otdelochnye-raboty' %}">Отделочные работы</a></p>
    </td>
    <td>
    <p><img src="{% static 'main/img/nalivnoy-pol.jpg' %}" alt="стяжка пола" width="170" height="144"></p>
    <p><a href="{% url 'nalivnoy-pol' %}">Наливные полы</a></p>
    </td>
    <td>
    <p><img src="{% static 'main/img/ukladka-laminata.jpg' %}" alt="" width="170" height="144"></p>
    <p><a href="{% url 'ukladka-laminata' %}">Укладка ламината</a></p>
    </td>
    </tr>
    </tbody>
    </table>
    <p>Сейчас цементно-песчаная стяжка пола, благодаря её надежности и дешевизне, является наиболее распространённым и предпочитаемым способом выравнивания пола. Однако, эта работа достаточно грязная и трудоемкая.</p>
    <p>Также очень популярен сегодня полимерный пол, цена которого, стоит отметить, высокая. Он отлично подходит для жесткой эксплуатации и очень влагоустойчив. Обращайтесь, мы выполняем любые полы по Вашему желанию и недорого.</p>
    <p>&nbsp;</p>
    <p>		</p><div class="moduletable">
                        <table class="price">
    <tbody>
    <tr>
    <td style="width: 478.55pt; text-align: center; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="5" valign="top">
    <h3>Цена на устройство полов 2020-2021</h3>
    </td>
    </tr>
    <tr>
    <td><p>1</p>
    </td>
    <td><p>Цементно-песчаная стяжка толщиной до 50мм</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>500</p>
    </td>
    </tr>
    <tr>
    <td><p>2</p>
    </td>
    <td><p>Цементно-песчаная стяжка толщиной от 50мм до 70 мм</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>650</p>
    </td>
    </tr>
    <tr>
    <td><p>3</p>
    </td>
    <td><p>Частичное выравнивание пола (заделка рустов,трещин,отверстий)</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>150</p>
    </td>
    </tr>
    <tr>
    <td><p>4</p>
    </td>
    <td><p>Устройство маяков </p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>100</p>
    </td>
    </tr>
    
    <tr>
    <td><p>5</p>
    </td>
    <td><p>Монтаж демпферной ленты </p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>100</p>
    </td>
    </tr>
    
    <tr>
    <td><p>6</p>
    </td>
    <td><p>Армирование стяжки</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>250</p>
    </td>
    </tr>
    <tr>
    
    <td><p>7</p>
    </td>
    <td><p>Наливные полы до 30 мм</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>от 350</p>
    </td>
    </tr>
    
    <tr>
    <td><p>8</p>
    </td>
    <td><p>Укладка гидроизоляционной пленки</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>120</p>
    </td>
    </tr>
    
    <tr>
    <td><p>9</p>
    </td>
    <td><p>Монтаж пеноплекса под стяжку</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>300</p>
    </td>
    </tr>
    
    <tr>
    <td><p>10</p>
    </td>
    <td><p>Утепление пола</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>500</p>
    </td>
    </tr>
    
    
    
    <tr>
    <td><p>11</p>
    </td>
    <td><p>Устройство утепляющего слоя из керамзита под стяжку</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>250</p>
    </td>
    </tr>
    <tr>
    
    <td><p>12</p>
    </td>
    <td><p>Пролитие керамзита жидким раствором</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>200</p>
    </td>
    </tr>
    
    <tr>
    <td><p>13</p>
    </td>
    <td><p>Устройство опалубки</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>150</p>
    </td>
    </tr>
    
    <tr>
    <td><p>14</p>
    </td>
    <td><p>Установка опалубки</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>250</p>
    </td>
    </tr>
    
    <tr>
    <td><p>15</p>
    </td>
    <td><p>Заливка порога</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>200</p>
    </td>
    </tr>
    
    <tr>
    <td><p>16</p>
    </td>
    <td><p>Устройство обмазочной гидроизоляции</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>350</p>
    </td>
    </tr>
    
    <tr>
    <td><p>17</p>
    </td>
    <td><p>Устройство лаг</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>300</p>
    </td>
    </tr>
    
    <tr>
    <td><p>18</p>
    </td>
    <td><p>Устройство чернового пола по деревянным лагам</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>400</p>
    </td>
    </tr>
    <tr>
    <td><p>19</p>
    </td>
    <td><p>Укладка ламината</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>300</p>
    </td>
    </tr>
    
    <tr>
    <td><p>20</p>
    </td>
    <td><p>Укладка ламината по диагонали</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>450</p>
    </td>
    </tr>
    
    <tr>
    <td><p>21</p>
    </td>
    <td><p>Фигурная резка ламината , паркетной доски</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>500</p>
    </td>
    </tr>
    
    <tr>
    <td><p>22</p>
    </td>
    <td><p>Продольная распиловка ламината</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>200</p>
    </td>
    </tr>
    
    <tr>
    <td><p>23</p>
    </td>
    <td><p>Укладка подложки под ламинат</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>50</p>
    </td>
    </tr>
    
    <tr>
    <td><p>24</p>
    </td>
    <td><p>Укладка кварцвиниловой плитки</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>450</p>
    </td>
    </tr>
    
    <tr>
    <td><p>25</p>
    </td>
    <td><p>Укладка штучного паркета</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>договорная</p>
    </td>
    </tr>
    
    <tr>
    <td><p>26</p>
    </td>
    <td><p>Циклевка паркета</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>300</p>
    </td>
    </tr>
    
    <tr>
    <td><p>27</p>
    </td>
    <td><p>Лакировка паркета в один слой</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>150</p>
    </td>
    </tr>
    
    <tr>
    <td><p>28</p>
    </td>
    <td><p>Настил фанеры или ДСП на готовое основание</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>350</p>
    </td>
    </tr>
    
    <tr>
    <td><p>29</p>
    </td>
    <td><p>Настил ДВП на готовое основание</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>250</p>
    </td>
    </tr>
    
    <tr>
    <td><p>30</p>
    </td>
    <td><p>Настил ГВЛ</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>250</p>
    </td>
    </tr>
    
    <tr>
    <td><p>31</p>
    </td>
    <td><p>Настил линолеума, ковролина </p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>200-250</p>
    </td>
    </tr>
    
    <tr>
    <td><p>32</p>
    </td>
    <td><p>Настил линолеума, ковролина на клею</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>300-350</p>
    </td>
    </tr>
    
    <tr>
    <td><p>33</p>
    </td>
    <td><p>Монтаж декоративных порожков</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>300</p>
    </td>
    </tr>
    
    <tr>
    <td><p>34</p>
    </td>
    <td><p>Монтаж пластиковых плинтусов</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>200</p>
    </td>
    </tr>
    
    <tr>
    <td><p>35</p>
    </td>
    <td><p>Монтаж деревянных плинтусов</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>250</p>
    </td>
    </tr>
    
    <tr>
    <td><p>36</p>
    </td>
    <td><p>Покрытие плинтусов лаком, краской (два раза)</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>250</p>
    </td>
    </tr>
    
    <tr>
    <td><p>37</p>
    </td>
    <td><p>Защита напольных покрытий пленкой</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>80</p>
    </td>
    </tr>
    
    <tr>
    <td><p>38</p>
    </td>
    <td><p>Защита напольных покрытий картоном</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>80</p>
    </td>
    </tr>
    
    <tr>
    <td><p>39</p>
    </td>
    <td><p>Устройство полов из пробковой доски</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>от 500</p>
    </td>
    </tr>
    
    
    <tr>
    <td><p>40</p>
    </td>
    <td><p>Устройство Кнауф-суперпол</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>800</p>
    </td>
    </tr>
    
    <tr>
    <td><p>41</p>
    </td>
    <td><p>Настил ЦСП на черновой пол (под плитку)</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>400</p>
    </td>
    </tr>
    
    <tr>
    <td><p>42</p>
    </td>
    <td><p>Настил фанеры на мастику с анкерами</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>500</p>
    </td>
    </tr>
    
    <tr>
    <td><p>43</p>
    </td>
    <td><p>Комплексная шумоизоляция пола</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>договорная</p>
    </td>
    </tr>
    
    </tbody>
    </table>		</div>
        <p></p> </div></div></article></div></div>
{% endblock %}

{% block nostyle %}
{% include 'main/posts.html' %}
{% endblock %}
