{% extends 'main/base.html' %} 
{% load static %} 

{% block slide %} 
{% include 'main/slideshow.html' %} 
{% endblock %} 

{% block content %}
<div class="entry-content">
  <div class="item-page">
    <article class="dd-post">
      <div class="dd-postcontent clearfix">
        <div class="dd-article">
          <h1 style="text-align: center">
            Техническая проверка квартиры (недвижимости) перед покупкой, оценка
            расходов на ремонт. Предоставим специалиста для сопровождения
            осмотра объекта.
          </h1>
          <p>
            <img
              src="{% static 'main/img/priemka_kvartir_Ocenka_sostoyaniya_remonta.jpeg' %}"
              style="max-width: 50%; margin: 0 20px 10px 0; float: left"
              alt="Оценка состояния ремонта квартиры перед покупкой Воронеж"
            />
          </p>
          <p>
            Наша компания занимается ремонтно-отделочными работами более 15 лет,
            в связи с этим, мы можем предоставить Вам специалиста для
            <strong>оценки состояния квартиры перед покупкой</strong> в
            Воронеже, а также оценить вложения/расходы на ремонт. Мы подскажем,
            на что обратить внимание при покупке квартиры, что потребуется
            заменить в первую очередь, какова будет итоговая сумма вложений в
            выбранный вами объект. Все эти вопросы следует решать до сделки и в
            этом Вам поможет наш специалист, который будет сопровождать Вас при
            осмотре выбранных вами объектов недвижимости.
          </p>
          <p>
            При покупке квартиры (дома, дачи, офиса) покупателю приходится
            сталкиваться с множеством трудностей, в том числе и обращать
            внимание на состояние ремонта квартиры. Если Вы собираетесь выбирать
            квартиру в сегменте цен ниже рыночной, то в большинстве случаев, это
            проблемные квартиры, требующие больших вложений. В этом случае перед
            покупателем будет стоять задача: стоит ли эта квартира больших
            вложений, будут ли они оправданы, не окажетесь ли Вы в "минусе" в
            итоге. Наш мастер, сопровождающий Вас, проведет осмотр стен, пола,
            потолков, сантехники, электропроводки, окон и дверных проемов.
          </p>
          <p>
            Также наш специалист может сопровождать Вас и при приемке квартиры
            от застройщика, выявит все недочеты требующие устранения.
          </p>
          <p>
            Итак, приобретая квартиру в новостройке или вторичке и планируя
            выполнять ремонтно-отделочные работы, пригласите нашего мастера, он
            все четко и по пунктам опишет Вам состояние объекта недвижимости.
            Наш телефон:
            <a title="Контактный телефон" href="tel:++79304000001"
              >+7 930 400 00 01</a
            >!
          </p>
          <p>
            <img
              src="{% static 'main/img/proverka-remonta-kvartiry-pered-pokupkoiy-vrn.jpg' %}"
              style="max-width: 100%; margin: 0"
              alt="Проверка ремонта квартиры перед покупкой Воронеж"
            />
          </p>
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}

{% block nostyle %} 
{% include 'main/posts.html' %} 
{% endblock%}