{% extends 'main/base.html' %} 
{% load static %} 

{% block slide %} 
{% include 'main/slideshow.html' %} 
{% endblock %} 

{% block content %}
<div class="entry-content">
  <div class="item-page">
    <article class="dd-post">
      <div class="dd-postcontent clearfix">
        <div class="dd-article">
          <header class="entry-header">
            <h1>Услуги электрика в Воронеже</h1>
          </header>
          <p>
            Низкие цены на срочные услуги электрика в Воронеже и частный вызов
            на дом в любой район недорого и быстро. Прайс-работ составлен с
            учетом доступности для всех. Точная стоимость определяется после
            осмотра состояния электропроводки. Мастер по электрике незаменим во
            время ремонта, поэтому цены на комплекс услуг мы обсуждаем заранее.
            Вы можете заказать: замену розеток, перенос выключателей, устранение
            слабых мест в электропроводке, ее полная замена и ремонт. Именно
            этот специалист, устраняя «проблемные места», может гарантировать
            полную безопасность электросетей в помещении, квартире, доме.
          </p>
          <h2>Как формируется цена?</h2>
          <p>При расчете стоимости учитывается несколько факторов:</p>
          <ul>
            <li>
              специфика и сложность — как правило, чем больше помещение, тем
              больше оно требует ремонтных работ и, соответственно, тем дороже
              проект;
            </li>
            <li>
              материалы – стоимость кабелей, электроматериалов, декоративных
              элементов и систем освещения зависит от требуемых характеристик и,
              соответственно, бывает разной стоимости;
            </li>
            <li>
              объем заказа – если желаете заказать услуги электрика для
              выполнения всего комплекса работ, то у нас вы получаете приятные
              скидки от общей стоимости.
            </li>
          </ul>
          <p>
            Квалификацию электрика определяет не только образование и
            соответствующие свидетельства. Очень важно выбрать опытного
            специалиста, который подтвердил свои знания и навыки аттестацией и
            получил разрешительную документацию на проведение электромонтажных
            работ. В противном случае – мастера вы заказываете, что называется,
            на свой страх и риск.
          </p>
          <p>
            Компания «Ремонт 36» представляет надежные и проверенные услуги
            опытного электрика в Воронеже. Заказывая электромонтажные работы у
            нас, вы получаете:
          </p>
          <ul>
            <li>точный расчет стоимости и «прозрачную» смету;</li>
            <li>
              профессиональные рекомендации и советы по интересующим вас
              вопросам;
            </li>
            <li>
              безопасное и надежное выполнение всех необходимых работ с
              электросетями;
            </li>
            <li>минимально-возможные сроки;</li>
            <li>
              работы «под ключ», включающие весь комплекс - от проектирования до
              декоративного оформления.
            </li>
          </ul>
          <table class="table-uslugi">
            <tbody>
              <tr>
                <td>
                  <p>
                    <img
                      title="услуги электрика в Воронеже доступно"
                      src="{% static 'main/img/uslugi-elektrika-dostupno.jpg' %}"
                      alt="услуги электрика в Воронеже доступно"
                    />
                  </p>
                </td>
                <td>
                  <p>
                    <img
                      title="услуги электрика в Воронеже профессионально"
                      src="{% static 'main/img/uslugi-elektrika-professionalno.jpg' %}"
                      alt="услуги электрика в Воронеже профессионально"
                    />
                  </p>
                </td>
                <td>
                  <p>
                    <img
                      title="услуги электрика в Воронеже качественно"
                      src="{% static 'main/img/uslugi-elektrika-kachestvenno.jpg' %}"
                      alt="услуги электрика в Воронеже качественно"
                    />
                  </p>
                </td>
                <td>
                  <p>
                    <img
                      title="услуги электрика в Воронеже надежно"
                      src="{% static 'main/img/uslugi-elektrika-nadezhno.jpg' %}"
                      alt="услуги электрика в Воронеже надежно"
                    />
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    <img
                      title="услуги электрика в Воронеже навсегда"
                      src="{% static 'main/img/uslugi-elektrika-navsegda.jpg' %}"
                      alt="услуги электрика в Воронеже навсегда"
                    />
                  </p>
                </td>
                <td>
                  <p>
                    <img
                      title="услуги электрика в Воронеже недорого"
                      src="{% static 'main/img/uslugi-elektrika-nedorogo.jpg' %}"
                      alt="услуги электрика в Воронеже недорого"
                    />
                  </p>
                </td>
                <td>
                  <p>
                    <img
                      title="услуги электрика в Воронеже быстро"
                      src="{% static 'main/img/uslugi-elektrika-bistro.jpg' %}"
                      alt="услуги электрика в Воронеже быстро"
                    />
                  </p>
                </td>
                <td>
                  <p>
                    <img
                      title="услуги электрика в Воронеже любой сложности"
                      src="{% static 'main/img/uslugi-elektrika-luboy-slozhnosty.jpg' %}"
                      alt="услуги электрика в Воронеже любой сложности"
                    />
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <h3>Электроснабжение помещений</h3>
          <p>
            Проектирование. Заказывая услуги квалифицированного электрика у нас,
            вы получаете проектные работы любой сложности: от переоборудования
            проводки в отдельных помещениях до масштабной разработки
            документации по электроснабжению в больших домах и коттеджах, в том
            числе с использованием современных технологий энергосбережения.
          </p>
          <p>
            Проверка электропроводки. Нередко вместо полной замены проводки
            может выполняться частичная замена/ремонт. Для того чтобы определить
            это точно, в услуги профессионального электрика входит проверка
            целостности электросистемы, надежности ее изоляции на всех участках
            и полного соответствия требованиям безопасности.
          </p>
          <p>
            Выполнение комплекса ремонтных работ. В зависимости от составленного
            проекта наши услуги могут включать прокладку или замену кабеля,
            установку щитков, счетчиков, розеток и выключателей. Установка
            светильников и декоративных элементов – завершающий этап.
          </p>
          <p style="font-weight: bold; text-align: center">
            Вам нужны услуги электрика в Воронеже?<br />Просто позвоните +7 930 400 00 01 и получите бесплатную консультацию!
          </p>
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}

{% block nostyle %} 
{% include 'main/posts.html' %} 
{% endblock%}