{% extends 'main/base.html' %}
{% load static %}

{% block slide %}
{% include 'main/slideshow.html' %}
{% endblock %}

{% block content %}
<div class="entry-content"><div class="item-page"><article class="dd-post"><div class="dd-postcontent clearfix"><div class="dd-article"><header class="entry-header">
    <div class="entry-title"><h1>Устройство стен в Воронеже</h1></div>
    </header>
    <p>Устройство стен сегодня – это комплекс работ по <a href=" {% url 'kosmeticheskij-remont' %}">косметическому ремонту</a> помещений. В него входит первичное выравнивание поверхности, шпатлевка, штукатурка, укладка плитки или <a href="/otdelochnye-raboty">отделка</a>. Мы выполняем все виды работ по устройству стен в коттеджах, квартирах или офисах и <a href="/malyarnye-raboty-cena-voronezh">малярных работ</a>. В нашей бригаде трудятся опытные отделочники, которые знают все нюансы своей профессии. Именно поэтому результат нашей работы радует заказчиков.</p>
    <p>У нас доступны следующие услуги по устройству стен:</p>
    <ul>
    <li><a href="{% url 'malar' %}" title="выравнивание поверхности и шпатлевка">выравнивание поверхности и шпатлевка;</a></li>
    <li><a href="{% url 'plitka' %}" title="укладка керамической плитки">укладка керамической плитки в ванной или на кухне;</a></li>
    <li><a href="{% url 'shtukaturnye-raboty' %}" title="штукатурка">штукатурка;</a></li>
    <li><a href="{% url 'poklejka-oboev' %}" ttle="оклейка стен обоями">поклейка обоев;</a></li>
    <li><a href="{% url 'otdelochnye-raboty' %}" title="отделка ">отделка (гипсокартоном, деревом, пробкой, тканями или другими декоративными материалами).</a></li>
    </ul>
    <p>Мы гарантируем профессиональное выполнение работ в оговоренный срок. Обратившись к нам, вы получите приемлемые цены на отделку с использованием надежных материалов. Конкретная цена на устройство стен формируется индивидуально для каждого заказа. Она зависит от различных факторов: количества и типа работ, особенностей помещения, используемых материалов и т.д. У нас можно заказать как современный евроремонт, так и бюджетную отделку стен. В любом случае работы будут произведены качественно!</p>
    <p>&nbsp;</p>
    <p>		</p><div class="moduletable">
                        <table class="price">
    <tbody>
    <tr>
    <td style="width: 478.55pt; text-align: center; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="4" valign="top">
    <p><strong>Устройство стен</strong></p>
    </td>
    </tr>
    
    <tr>
    <td><p>1</p>
    </td>
    <td><p>Возведение перегородок из пазогребневых плит прямых</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>800</p>
    </td>
    </tr>
    
    <tr>
    <td><p>2</p>
    </td>
    <td><p>Обшивка стен ГКЛ по мет. Каркасу в 1 слой</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>500</p>
    </td>
    </tr>
    
    <tr>
    <td><p>3</p>
    </td>
    <td><p>Разметка и сверление отверстий в ГКЛ для подрозетника, светильника</p>
    </td>
    <td><p>шт.</p>
    </td>
    <td><p>150</p>
    </td>
    </tr>
    
    <tr>
    <td><p>4</p>
    </td>
    <td><p>Устройство откосов из ГКЛ, МДФ, ПВХ, сайдинга</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>500</p>
    </td>
    </tr>
    
    <tr>
    <td><p>5</p>
    </td>
    <td><p>Устройство короба из ГКЛ (одна сторона)</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>500</p>
    </td>
    </tr>
    
    <tr>
    <td><p>6</p>
    </td>
    <td><p>Монтаж перегородок из ГКЛ в один слой</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>900</p>
    </td>
    </tr>
    
    <tr>
    <td><p>7</p>
    </td>
    <td><p>Монтаж перегородок из ГКЛ в два слоя</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>1200</p>
    </td>
    </tr>
    
    <tr>
    <td><p>8</p>
    </td>
    <td><p>Устройство дверного проема в перегородке</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>500</p>
    </td>
    </tr>
    
    <tr>
    <td><p>9</p>
    </td>
    <td><p>Монтаж колонн из ГКЛ</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>500</p>
    </td>
    </tr>
    
    <tr>
    <td><p>10</p>
    </td>
    <td><p>Монтаж тепло-шумоизоляции</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>250</p>
    </td>
    </tr>
    
    <tr>
    <td><p>11</p>
    </td>
    <td><p>Устройство пароизоляции</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>100</p>
    </td>
    </tr>
    
    <tr>
    <td><p>12</p>
    </td>
    <td><p>Утепление стен пенопластом,пеноплексом</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>250</p>
    </td>
    </tr>
    
    <tr>
    <td><p>13</p>
    </td>
    <td><p>Заделка швов монтажной пеной</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>50</p>
    </td>
    </tr>
    
    <tr>
    <td><p>14</p>
    </td>
    <td><p>Устройство арочного проёма</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>2000</p>
    </td>
    </tr>
    
    <tr>
    <td><p>15</p>
    </td>
    <td><p>Облицовка стен панелями ПВХ, МДФ</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>500</p>
    </td>
    </tr>
    
    <tr>
    <td><p>16</p>
    </td>
    <td><p>Облицовка фасада сайдингом</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>договорная</p>
    </td>
    </tr>
    
    <tr>
    <td><p>17</p>
    </td>
    <td><p>Монтаж декоративной решетки на радиатор</p>
    </td>
    <td><p>шт.</p>
    </td>
    <td><p>800</p>
    </td>
    </tr>
    
    <tr>
    <td><p>18</p>
    </td>
    <td><p>Облицовка стен вагонкой</p>
    </td>
    <td><p>кв.м</p>
    </td>
    <td><p>от 600</p>
    </td>
    </tr>
    
    <tr>
    <td><p>19</p>
    </td>
    <td><p>Монтаж углов на вагонку</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>200</p>
    </td>
    </tr>
    
    <tr>
    <td><p>20</p>
    </td>
    <td><p>Комплексная шумоизоляция стен</p>
    </td>
    <td><p>пог.м</p>
    </td>
    <td><p>договорная</p>
    </td>
    </tr>
    
    </tbody>
    </table>		</div>
        <p></p> </div></div></article></div></div>
{% endblock %}

{% block nostyle %}
{% include 'main/posts.html' %}
{% endblock %}
