{% extends 'main/base.html' %}
{% load static %}

{% block slide %}
{% include 'main/slideshow.html' %}
{% endblock %}

{% block content %}
<div class="entry-content"><div class="item-page"><article class="dd-post"><div class="dd-postcontent clearfix"><div class="dd-article"><header class="entry-header">
    <div class="entry-title"><h1>Устройство потолков любого типа</h1></div>
    </header>
    <p>Устройство потолков предполагает работы по выравниванию поверхности или установку подвесной конструкции. Наша бригада выполняет как штукатурку, так и монтаж подвесного потолка из гипсокартона, пленки ПВХ или ткани. Выбор остается за вами. Решив, какой потолок вы хотите в своем коттедже, офисе или же в своей квартире, смело обращайтесь к нам.</p>
    <h2>Монтаж потолков в Воронеже</h2>
    <p>Мы поможем с выбором подходящего варианта навесного потолка, анализируя особенность помещения и его функциональность. И гипсокартон, и навесные конструкции дают возможность скрыть все недостатки и к тому же привлекательно выглядят. Но гипсокартон по своим свойствам устойчивости к влажности уступает навесным конструкциям, а, в свою очередь, пленку ПВХ или ткань можно порезать или повредить. Но не смотря ни на что эти стройматериалы прослужат долго при правильной эксплуатации. Монтаж натяжных потолков набирает все большую популярность.</p>
    <p>&nbsp;</p>
    <p>		</p><div class="moduletable">
                        <table class="price">
        <tbody>
            <tr>
                <td style="width: 478.55pt; text-align: center; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="4" valign="top">
                    <p><strong>Цена на монтаж потолков</strong></p>
                </td>
            </tr>
            <tr>
                <td><p>1</p>
                </td>
                <td><p>Заделка потолочных рустов</p>
                </td>
                <td><p>пог.м</p>
                </td>
                <td><p>250</p>
                </td>
            </tr>
            <tr itemscope="" itemtype="http://schema.org/Product">
                <td><p>2</p></td>
                <td><span itemprop="name">Монтаж потолка из ГКЛ в один уровень</span><span itemprop="description"> </span></td>
                <td><p>кв.м</p></td>
                <td><div itemprop="offers" itemscope="" itemtype="http://schema.org/AggregateOffer"><span itemprop="price">700</span><span itemprop="priceCurrency" content="RUB"></span></div></td>
            </tr>
            <tr>
                <td><p>3</p>
                </td>
                <td><p>Монтаж потолка из ГКЛ в два уровня</p>
                </td>
                <td><p>кв.м</p>
                </td>
                <td><p>договорная</p>
                </td>
            </tr>
            <tr>
                <td><p>4</p>
                </td>
                <td><p>Монтаж потолка типа «Армстронг»</p>
                </td>
                <td><p>кв.м</p>
                </td>
                <td><p>от 350</p>
                </td>
            </tr>
            <tr>
                <td><p>5</p>
                </td>
                <td><p>Монтаж потолка типа «Грильято»</p>
                </td>
                <td><p>кв.м</p>
                </td>
                <td><p>от 450</p>
                </td>
            </tr>
            <tr>
                <td><p>6</p>
                </td>
                <td><p>Устройство реечного потолка</p>
                </td>
                <td><p>кв.м</p>
                </td>
                <td><p>750</p>
                </td>
            </tr>
            <tr>
                <td><p>7</p>
                </td>
                <td><p>Монтаж потолка из панелей ПВХ</p>
                </td>
                <td><p>кв.м</p>
                </td>
                <td><p>500</p>
                </td>
            </tr>
            <tr>
                <td><p>8</p>
                </td>
                <td><p>Монтаж вагонки на потолок</p>
                </td>
                <td><p>кв.м</p>
                </td>
                <td><p>От 600</p>
                </td>
            </tr>
            <tr>
                <td><p>9</p>
                </td>
                <td><p>Монтаж натяжного потолка</p>
                </td>
                <td><p>кв.м</p>
                </td>
                <td><p>договорная</p>
                </td>
            </tr>
            
            <tr>
                <td><p>10</p>
                </td>
                <td><p>Оклейка потолка пенопластовыми панелями</p>
                </td>
                <td><p>кв.м</p>
                </td>
                <td><p>250</p>
                </td>
            </tr>
            
            <tr>
                <td><p>11</p>
                </td>
                <td><p>Оклейка потолка пробковыми панелями</p>
                </td>
                <td><p>кв.м</p>
                </td>
                <td><p>250</p>
                </td>
            </tr>
            
            <tr>
                <td><p>12</p>
                </td>
                <td><p>Монтаж тепло-шумоизоляции потолка</p>
                </td>
                <td><p>кв.м</p>
                </td>
                <td><p>300</p>
                </td>
            </tr>
            <tr>
                <td><p>13</p>
                </td>
                <td><p>Монтаж короба из ГКЛ на потолке</p>
                </td>
                <td><p>пог.м</p>
                </td>
                <td><p>700</p>
                </td>
            </tr>
            
            <tr>
                <td><p>14</p>
                </td>
                <td><p>Монтаж потолочного карниза для штор</p>
                </td>
                <td><p>пог.м</p>
                </td>
                <td><p>650</p>
                </td>
            </tr>
            <tr>
                <td><p>15</p>
                </td>
                <td><p>Комплексная шумоизоляция потолка</p>
                </td>
                <td><p>пог.м</p>
                </td>
                <td><p>договорная</p>
                </td>
            </tr>
            
        </tbody>
    </table>		</div>
        <p></p> </div></div></article></div></div>
{% endblock %}

{% block nostyle %}
{% include 'main/posts.html' %}
{% endblock %}
