<!DOCTYPE html>
{% load static %}
<html lang="ru-ru">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="description" content="↪ Услуги ремонта квартир в Воронеже под ключ недорого от Отделка 36. Работы по договору. Цены на ремонт квартиры от 1 000 руб./м2.">
		<title>Ремонт квартир под ключ Воронеж Цены</title>
		<link href="assets/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
		<link rel="stylesheet" href="{% static 'main/css/calendar.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'main/css/front.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'main/css/accordion.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'main/css/flyout.css' %}" type="text/css">
		<style type="text/css">
			ul.flyout-menu li ul,.flyout-menu.horizontal,.flyout-menu.vertical,ul.flyout-menu li { list-style: none !important;padding:0px !important;margin: 0px !important; }
			#flyout_menu_89{text-align: left;background: #9fdb5e;border: 1px solid #1a1a1a;}
			#flyout_menu_89 a{color: #000000;float: left;}
			#flyout_menu_89 li{cursor: pointer;	padding-left: 5px ;}
			#flyout_menu_89 li:last-child, #flyout_menu_89 > li.last{border-bottom: none;}
			#flyout_menu_89 .item-wrapper:hover a, #flyout_menu_89 li.current > .item-wrapper a{color: #ffffff;	}
			#flyout_menu_89 > li > .item-wrapper{text-align: left;}
			#flyout_menu_89 li .item-wrapper .menu-button{float:left;margin-left:9px;}
			#flyout_menu_89 li .item-wrapper .menu-link{float: left;padding-left: 5px;}
			#flyout_menu_89 li.opened > .item-wrapper a{color: #ffffff;	}
			#flyout_menu_89 > li.last .item-wrapper{border-bottom: none;}
			#flyout_menu_89  li li{position: relative;}
			#flyout_menu_89  li ul {border: 1px solid #1a1a1a;width: 200px;background: #9fdb5e;margin: 0px; padding: 0px;}
			#flyout_menu_89  li ul li:last-child{border: none;}
		</style>
		<style>
			.dd-object1701156306 .phone:before {
				background-image: url({% static 'main/img/phone-icon.png' %}) !important;
    			top: 7px;
			}
			li.item-126 a:before {
				background: url({% static 'main/img/menu-1.png' %}) !important;
			}
			li.item-127 a:before {
				background: url({% static 'main/img/menu-2.png' %}) !important;
			}
			li.item-128 a:before {
				background: url({% static 'main/img/menu-3.png' %}) !important;
			}
			li.item-129 a:before {
				background: url({% static 'main/img/menu-4.png' %}) !important;
			}
			li.item-130 a:before {
				background: url({% static 'main/img/menu-5.png' %}) !important;
			}
		</style>
  		<script type="text/javascript" async="" src="{% static 'main/js/RZLyayYVB8' %}"></script>
  		<script type="text/javascript" async="" id="topmailru-code" src="{% static 'main/js/code.js' %}"></script>
  		<script type="text/javascript" async="" src="{% static 'main/js/top100.js' %}"></script>
  		<meta name="keywords" content="ремонт, квартир, домов, дома, под ключ, недорого, цена, стоимость, воронеж">
  		<script type="text/javascript" async="" src="{% static 'main/js/tag.js' %}"></script>
  		<script src="{% static 'main/js/mootools-core.js' %}" type="text/javascript"></script>
  		<style type="text/css" id="operaUserStyle">
    		video {
      			filter: url('data:image/svg+xml,')
			}
		</style>
		<script src="{% static 'main/js/jquery.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'main/js/jquery-noconflict.js' %}" type="text/javascript"></script>
		<script src="{% static 'main/js/jquery-migrate.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'main/js/core.js' %}" type="text/javascript"></script>
		<script src="{% static 'main/js/mootools-more.js' %}" type="text/javascript"></script>
		<script src="{% static 'main/js/caption.js' %}" type="text/javascript"></script>
		<script src="{% static 'main/js/script.js' %}" type="text/javascript"></script>
		<script src="{% static 'main/js/jquery-1.8.2.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'main/js/jquery-noconflict(1).js' %}" type="text/javascript"></script>
		<script type="text/javascript">
			jQuery(function($) {
						$('.hasTip').each(function() {
							var title = $(this).attr('title');
							if (title) {
								var parts = title.split('::', 2);
								$(this).data('tip:title', parts[0]);
								$(this).data('tip:text', parts[1]);
							}
						});
						var JTooltips = new Tips($('.hasTip').get(), {"maxTitleChars": 50,"fixed": false});
					});
			jQuery(window).on('load',  function() {
							new JCaption('img.caption');
						});
		</script>

		<link rel="stylesheet" href="{% static 'main/css/system.css' %}">
		<link rel="stylesheet" href="{% static 'main/css/general.css' %}">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="{% static 'main/css/template.css' %}" media="screen">
		<link rel="stylesheet" href="{% static 'main/css/template.responsive.css' %}" media="all">


		<script>if ('undefined' != typeof jQuery) document._artxJQueryBackup = jQuery;</script>
    	<script>jQuery.noConflict();</script>

		<script src="assets/js/script(1).js"></script>
		<script>if (document._artxJQueryBackup) jQuery = document._artxJQueryBackup;</script>
		
		<!-- slideshow header start -->
		<link rel="stylesheet" href="{% static 'main/css/default.css' %}" type="text/css" media="screen">
		<link rel="stylesheet" href="{% static 'main/css/pascal.css' %}" type="text/css" media="screen">
		<link rel="stylesheet" href="{% static 'main/css/orman.css' %}" type="text/css" media="screen">
		<link rel="stylesheet" href="{% static 'main/css/nivo-slider.css' %}" type="text/css" media="screen">
		<link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css" media="screen">
		<script type="text/javascript" src="{% static 'main/js/jquery-1.6.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'main/js/jquery.nivo.slider.pack.js' %}"></script>
		<script type="text/javascript">      
			var $j = jQuery.noConflict();       
			jQuery(document).ready(function ($){   
			$j("#slider").nivoSlider(          
			); });          
		</script>
 		<!-- slideshow header end -->
		<script type="text/javascript" src="{% static 'main/js/jssor.slider.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'main/css/widget.css' %}" class="jv-css">
		{% block style %}
		{% endblock %}
	</head>

    <body>
        <!--Header-->
        <div id="dd-main" style="background: url({% static 'main/img/gesmimarlik-kapak.jpg' %}) top center no-repeat #262626;">
            <div class="wrapper-r">
                <header id="header" class="dd-header" style="background-image: url({% static 'main/img/fon-body.gif' %});">
					<div class="custom-banner-top">
						<p><img src="{% static 'main/img/banner.jpg' %}" alt="услуги, ремонт, отделка, монтаж, электромонтаж, сантехника"></p>
					</div>
					<div class="dd-shapes">
						<div class="dd-textblock dd-object1701156306" style="left: -238.59px; top: -3.23px; margin-left: 0px !important;">
							<span class="phone">+7 930 011 08 08</span> <br>
							<span class="phone">+7 930 400 00 01</span> <br>
							<span class="mail">
								<a href="mailto:rbka2019@mail.ru">rbka2019@mail.ru</a>
							</span><br>
						</div>
						<img src="{% static 'main/img/remot-pod-kluch.png' %}" alt="ремонт под ключ недорого">
					</div>
					<span class="dd-logo dd-logo-825675486">
						<img src="{% static 'main/img/logo.png' %}" alt="компания по ремонту и отделке квартир Отделка" width="252"; height="150">
					</span>
					<nav class="dd-nav desktop-nav" style="left: 0px;">
						<ul class="dd-hmenu">
							<li class="item-126 current active">
								<a class=" active" href="{% url 'main' %}">Главная</a>
							</li>
							<li class="item-127">
								<a href="{% url 'services' %}">Услуги</a>
							</li>
							<li class="item-128">
								<a href="base.html">Прайс</a>
							</li>
							<li class="item-129">
								<a href="{% url 'nashi-raboti' %}">Наши работы</a>
							</li>
							<li class="item-130">
								<a href="{% url 'contact' %}">Контакты</a>
							</li>
						</ul>			 
					</nav>
				</header>
            </div>
            
            <!--Main Content-->
            <div id="content" class="dd-sheet clearfix">
                <div class="dd-layout-wrapper">
                    <div class="dd-content-layout">
                        <div class="row">
                            <div class="dd-layout-cell dd-content">

                                <!--slideshow image-->
								{% block slide %}{% endblock %}						 
								<!-- end slideshow image-->

                                <!--PostImages-->
                                {% block posts %}{% endblock %}
								<!--PAGE_CONTENT-->
								{% block content %} {% endblock %}
								<!--END_PAGE_CONTENT-->
								<!--Post2-->
								{% block nostyle %}{% endblock %}
                            </div>
							
                            <!--Sidebar-->
                            <div class="dd-layout-cell dd-sidebar1 dd-sidebar1-fix">
                                <!--GreenBar-->
								<div class="dd-block clearfix">
									<div class="dd-blockcontent">
										<script type="text/javascript">
												jQuery(document).ready(function($){

													var acMenu = $("#flyout_menu_89");
													acMenu.children("li").eq(0).addClass("first");
													acMenu.children("li").eq(acMenu.children("li").length - 1 ).addClass("last");
														acMenu.find("a").click(function(){
														if ($(this).attr("target") == '_blank') {
															window.open($(this).attr("href"));
														} else {
															location = $(this).attr("href");
														}	
														return false;
													});
													
													acMenu.find(".item-wrapper").click(function(){
														var li = $(this).parent();
														if(!li.hasClass("opened")){
															var openedLi = li.parent().children(".opened");
															var ul = li.children(".ul-wrapper");
															openedLi.children(".ul-wrapper").hide(300);
															openedLi.removeClass("opened");
															openedLi.children(".item-wrapper").children(".menu-button").children("img").attr("src", "https://otdelka36.com/modules/mod_cinch_menu/tmpl/images/plus.png");
															li.addClass("opened");
															li.children(".item-wrapper").children(".menu-button").children("img").attr("src", "https://otdelka36.com/modules/mod_cinch_menu/tmpl/images/minus.png");
															ul.show(300);
														}else{
															li.children(".ul-wrapper").hide(300);
															li.removeClass("opened");
															li.children(".item-wrapper").children(".menu-button").children("img").attr("src", "https://otdelka36.com/modules/mod_cinch_menu/tmpl/images/plus.png");
														}
														return false;
													});
													$("body").click(function(){
														$(".opened").removeClass("opened");
														$(".ul-wrapper").hide(300); 
													});	
												});
											</script>
										<ul class="flyout-menu vertical" id="flyout_menu_89">
											<li class="first">
												<div class="item-wrapper item_wrapper_89">
													<div class="menu-link">
														<a href="{% url 'prepare' %}">Демонтажные и подготовительные работы</a>
													</div>
												</div>
											</li>
											<li>
												<div class="item-wrapper item_wrapper_89">
													<div class="menu-link">
														<a href="{% url 'otdelochnye-raboty' %}">Отделочные работы</a>
													</div>
												</div>
											</li>
											<li>
												<div class="item-wrapper item_wrapper_89">
													<div class="menu-link">
														<a href="{% url 'shtukaturnye-raboty' %}">Штукатурные работы</a>
													</div>
												</div>
											</li>
											<li>
												<div class="item-wrapper item_wrapper_89">
													<div class="menu-link">
														<a href="{% url 'malar' %}">Малярные работы</a>
													</div>
												</div>
											</li>
											<li>
												<div class="item-wrapper item_wrapper_89">
											    	<div class="menu-link">
														<a href="{% url 'poklejka-oboev' %}">Поклейка обоев</a>
													</div>
												</div>
											</li>
											<li>
												<div class="item-wrapper item_wrapper_89">
													<div class="menu-link">
														<a href="{% url 'plitka' %}">Плиточные работы</a>
													</div>
												</div>
											</li>
											<li>
												<div class="item-wrapper item_wrapper_89">
													<div class="menu-link">
														<a href="{% url 'ustrojstvo-sten' %}">Устройство стен</a>
													</div>
												</div>
											</li>
											<li>
												<div class="item-wrapper item_wrapper_89">
													<div class="menu-link">
														<a href="{% url 'ustrojstvo-potolkov' %}">Устройство потолков</a>
													</div>
												</div>
											</li>
											<li>
												<div class="item-wrapper item_wrapper_89">
													<div class="menu-link">
														<a href="{% url 'styazhka' %}">Стяжка полов</a>
													</div>
												</div>
											</li>
											<li>
												<div class="item-wrapper item_wrapper_89">
													<div class="menu-link">
														<a href="{% url 'ustanovka-mezhkomnatnykh-dverey' %}">Установка дверей и окон</a>
													</div>
												</div>
											</li>
											<li>
												<div class="item-wrapper item_wrapper_89">
													<div class="menu-link">
														<a href="{% url 'elektromontazhnye-raboty' %}">Электромонтажные работы</a>
													</div>
												</div>
											</li>
											<li>
												<div class="item-wrapper item_wrapper_89">
													<div class="menu-link">
														<a href="{% url 'santekhnicheskie-raboty' %}">Сантехнические работы</a>
													</div>
												</div>
											</li>
											<li>
												<div class="item-wrapper item_wrapper_89">
													<div class="menu-link">
														<a href="{% url 'remont-vannoj-komnaty' %}">Ремонт ванной комнаты</a>
													</div>
												</div>
											</li>
											<li>
												<div class="item-wrapper item_wrapper_89">
													<div class="menu-link">
														<a href="{% url 'remont-v-tc' %}">Ремонт в торговых центрах, магазинах</a>
													</div>
												</div>
											</li>
											<li>
												<div class="item-wrapper item_wrapper_89">
													<div class="menu-link"><a href="{% url 'otdelka-pomeshchenij' %}">Отделка помещений</a>
													</div>
												</div>
											</li>
											<li class="last">
												<div class="item-wrapper item_wrapper_89">
													<div class="menu-link">
														<a href="{% url 'shumoizolyatsiya' %}">Шумоизоляция</a>
													</div>
												</div>
												<div style="right:100%;" class="ul-wrapper ul_wrapper_89">
										    		<ul>
														<li>
															<div class="item-wrapper item_wrapper_89">
																<div class="menu-link">
																	<a href="base.html">Шумоизоляция стен</a>
																</div>
															</div>
														</li>
														<li>
															<div class="item-wrapper item_wrapper_89">
																<div class="menu-link">
																	<a href="base.html">Шумоизоляция пола</a>
																</div>
															</div>
														</li>
														<li>
															<div class="item-wrapper item_wrapper_89">
																<div class="menu-link">
																	<a href="base.html">Шумоизоляция потолка</a>
																</div>
															</div>
														</li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</div>

                                <!--WhiteBar-->
								<div class="dd-block clearfixservice2">
									<div class="dd-blockcontent">
										<div class="customservice2">
											<div class="menu-2 vidy-remonta">
												<div class="menu-2-connent">
													<div class="menu-2-li">
														<a href="{% url 'tekhnicheskaya-proverka' %}">Техническая проверка квартиры (недвижимости) перед покупкой, оценка расходов на ремонт</a>
													</div>
													<div class="menu-2-li">
														<a href="{% url 'uslugi-elektrika' %}">Вызов электрика на дом</a>
													</div>
													<div class="menu-2-li">
														<a href="{% url 'uslugi-santekhnika' %}">Вызов сантехника на дом</a>
													</div>
													<div class="menu-2-li">
														<a href="{% url 'uslugi-plitochnika' %}">Услуги плиточника</a>
													</div>
													<div class="menu-2-li">
														<a href="{% url 'remont-balkonov' %}">Балконы и лоджии</a>
													</div>
													<div class="menu-2-li">
														<a href="{% url 'nalivnoy-pol' %}">Наливные полы</a>
													</div>
													<div class="menu-2-li">
														<a href="{% url 'ukladka-laminata' %}">Укладка ламината</a>
													</div>
													<div class="menu-2-li">
														<a href="{% url 'remont-v-novostrojkakh' %}" rel="nofollow">Ремонт в новостройках</a>
													</div>
													<div class="menu-2-li">
														<a href="{% url 'remont-kottedzhej' %}" rel="nofollow">Ремонт коттеджей</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

                                <!--White_YellowBar-->
							    <div class="dd-block clearfix">
								    <div class="dd-blockcontent">
									    <div class="menu-2 vidy-remonta">
										    <div class="menu-2-title">Виды ремонта:</div>
											<div class="menu-2-connent">
												<div class="menu-2-li">
													<a href="{% url 'kosmeticheskij-remont' %}">Косметический ремонт</a>
												</div>
												<div class="menu-2-li">
													<a href="{% url 'kapitalnyj-remont-kvartir' %}">Капитальный ремонт</a>
												</div>
												<div class="menu-2-li">
													<a href="{% url 'evroremont' %}">Евроремонт</a>
												</div>
											</div>
										</div>
									</div>
								</div>

                                <!--PhoneCall-->
								<div class="dd-block clearfixzvonok">
									<div class="dd-blockcontent">
										<div class="customzvonok">
											<p style="font-weight: bold;">
												<img style="float: left;" src="{% static 'main/img/unnamed.png' %}" alt="заказать ремонт, отделку монтаж Отделка 36" width="100">
											</p>
											<p style="font-weight: bold; font-size: 19px; margin: 6px 0; padding-top: 20px;">Ждем звонка!</p>
											<p style="font-weight: bold; font-size: 16px;">+7 930 011 08 08<br>+7 930 400 00 01</p>
										</div>
									</div>
								</div>

                                <!--News-->
								<div class="dd-block clearfixzvonok">
									<div class="dd-blockcontent">
										<div class="customzvonok">
											<p>
												<a style="font-weight: bold; margin: 6px 0; padding-top: 20px; color: #0f0f0f;" href="">
													<img style="width: 100%;" src="{% static 'main/img/news1.jpg' %}" alt="новости ремонта и отделки">
												</a>
											</p>
										</div>
									</div>
								</div>
								{% block info %}{% endblock %}
							</div>
							
                        </div>
                    </div>
                </div>
            </div>
			<div class="dd-sheet clearfix info-map">
				{% block map %}{% endblock %}
				 <!--Footer-->
		<div class="dd-nostyle">
			<div class="info-bottom">
				<div class="info-bottom1">
					<img src="{% static 'main/img/logo.png' %}" alt="отделка36">
				</div>
				<div class="info-bottom2">
					<p style="color: #292929;">
						РЕМОНТ ПОД КЛЮЧ<br>
						КАЧЕСТВО НА ГОДА!
					</p>
				</div>
				<div class="info-bottom3">
					<p>
						<span class="info-span">Квартиры</span>
						<span class="info-span"><a href="base.html" title="отделка офисов">Офисы</a></span>
						<span class="info-span">Дома</span>
						<span class="info-span">Коттеджи</span>
					</p>
				</div>
			</div>
		

			<!--Partners-->
			<div class="dd-nostyle partners">
				<h3>Наши партнеры</h3>
				<table class="partners">
					<tbody>
						<tr>
							<td>
								<img src="{% static 'main/img/partner-0.jpg' %}">
							</td>
							<td>
								<img src="{% static 'main/img/partner-1.jpg' %}">
							</td>
							<td>
								<img src="{% static 'main/img/partner-2.jpg' %}">
							</td>
							<td>
								<img src="{% static 'main/img/partner-3.jpg' %}">
							</td>
						</tr>
						<tr>
							<td>
								<img src="{% static 'main/img/partner-4.jpg' %}">
							</td>
							<td>
								<img src="{% static 'main/img/partner-5.jpg' %}">
							</td>
							<td>
								<img src="{% static 'main/img/partner-6.jpg' %}">
							</td>
							<td>
								<img src="{% static 'main/img/partner-7.jpg' %}">
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- Contacts -->
			<div class="dd-content-layout">
				<div class="dd-content-layout-row">
					<div class="dd-layout-cell dd-layout-sidebar-bg" style="width: 33%;">
						<div class="dd-block clearfix-telephone">
							<div class="dd-blockcontent">
								<div class="custom-telephone">
									<p class="p-title">ТЕЛЕФОНЫ:</p>
									<div class="border-right">
										<p style="text-align: center;">&nbsp;</p>
										<p style="text-align: center; font-size: 24px;">+7 930 011 08 08<br>+7 930 400 00 01</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="dd-layout-cell dd-layout-sidebar-bg" style="width: 33%;">
						<div class="dd-block clearfix-local">
							<div class="dd-blockcontent">
								<div class="custom-local">
									<p class="p-title">НАШ АДРЕС:</p>
									<div class="border-right">
										<p style="text-align: center;">&nbsp;</p>
										<p style="text-align: center;">г. Россошь, ул. Малый Лиман</p>
										<p style="text-align: center;">
											<a style="color: #ed5053; text-decoration: underline;" href="https://goo.gl/maps/CB7isy1StYY1cGkQ6" target="blank">Смотреть на карте</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="dd-layout-cell dd-layout-sidebar-bg" style="width: 34%;">
						<div class="dd-block clearfix-pochta">
							<div class="dd-blockcontent">
								<div class="custom-pochta">
									<p class="p-title">ЭЛЕКТРОННАЯ ПОЧТА:</p>
									<p style="text-align: center;">&nbsp;</p>
									<p style="text-align: center; color: #909090;">Для вопросов по работе:</p>
									<p style="text-align: center; color: #ed5053; text-decoration: underline;">
										<a href="mailto:rbka2019@mail.ru" style="color: #ed5053; text-decoration: underline;">rbka2019@mail.ru</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer id="footer" class="dd-footer">
				<div style="position:relative;padding-left:0px;padding-right:0px">
					<div style="float: left; margin-top: 6px;">© 2014-2023, «Отделка» <span style="font-size: 13px; color: #E6F3D3;"></span>. Все права защищены. Копирование информации с сайта запрещено.</div>
				</div>
			</footer>
		</div>
			</div>
        </div>
       
    </body>
</html>