<!DOCTYPE html>
{% extends 'main/base.html' %}

{% block slide %}
{% include 'main/slideshow.html' %}
{% endblock %}

{% block content %}
<div class="entry-content"><div class="item-page"><article class="dd-post"><div class="dd-postcontent clearfix"><div class="dd-article"><h1>Контакты</h1>
    <p><span style="font-weight: bold;">Адрес: </span></p>
    <p>Россошь, ул. Малый Лиман</p>
    <p><span style="font-weight: bold;">Режим работы:</span></p>
    <p>Пн-Сб: с 9.00 до 21.00<br>Вс - выходной</p>
    <p><span style="font-weight: bold;">Телефон:</span></p>
    <p>+7 930 011 08 08<br>+7 930 400 00 01</p>
    <p><span style="font-weight: bold;">E-mail:</span></p>
    <p><span id="cloak96757"><a href="mailto:rbka2019@mail.ru">rbka2019@mail.ru</a></span>
    <script type="text/javascript">
     document.getElementById('cloak96757').innerHTML = '';
        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
        var path = 'hr' + 'ef' + '=';
        var addy96757 = 'sh&#97;p&#111;v&#97;l&#111;vsv36' + '&#64;';
        addy96757 = addy96757 + 'y&#97;nd&#101;x' + '&#46;' + 'r&#117;';
        var addy_text96757 = 'sh&#97;p&#111;v&#97;l&#111;vsv36' + '&#64;' + 'y&#97;nd&#101;x' + '&#46;' + 'r&#117;';
        document.getElementById('cloak96757').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy96757 + '\'>'+addy_text96757+'<\/a>';
        \n
    </script>
</p>
<!-- <p>{source}<span style="font-family: courier new, courier, monospace;"><br />&lt;!-- You can place html anywhere within the source tags --&gt;<br /><br /><br />&lt;script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=RsDUaVGV_sakgS8LI7e58ZvzQS3j3aaG&amp;width=702&amp;height=500"&gt;&lt;/script&gt;<br />&lt;?php<br /> // You can place PHP like this<br /> <br />?&gt;<br /></span>{/source}</p> -->
<p>&nbsp;</p>
<p>&nbsp;</p> </div></div></article></div></div>
{% endblock %}

{% block nostyle %}
{% include 'main/posts.html' %}
{% endblock %}

{% block map %}
{% include 'main/map.html' %}
{% endblock %}