{% extends 'main/base.html' %}
{% load static %}

{% block slide %}
{% include 'main/slideshow.html' %}
{% endblock %}

{% block posts %}
{% include 'main/posts.html' %}
{% endblock %}

{% block content %}
<div class="entry-content">
    <div class="item-page">
        <article class="dd-post">
            <div class="dd-postcontent clearfix">
                <div class="dd-article">
                    <h1>Ремонт под ключ в Воронеже без посредников</h1>
                    <p style="text-align: center;"><strong>Ваш идеальный ремонт в Воронеже</strong></p>
                    <p>Слово ремонт вызывает у большинства людей смешанные чувства. 
                        <strong>Ремонт квартир под ключ недорого</strong> в Воронеже поможет сделать наша компания «Ремонт 36», 
                        Ваша квартира преобразиться и ремонт оставит приятные впечатления! 
                        Цены на любые виды ремонтных работ также адекватные. 
                        Стоимость работ под ключ может варьироваться от 1000 руб. до 4000 руб. за кв м в зависимости от сложности.</p>
                    <h2>Почему мы?</h2>
                    <p>Мы – строительная организация, а не просто коллектив разнорабочих. 
                        Бригада профессионалов справится с работами любой сложности. 
                        За более чем 5 лет мы научились не только качественно выполнять свою работу, а слышать клиента. 
                        Заказав ремонт квартиры в Воронеже в нашей компании, у вас будет:</p>
                    <ul>
                        <li><strong>Бесплатный выезд мастера</strong> – важно понимать, какой объем действительно необходимо произвести. 
                            И вопрос, как составить смету отпадет самостоятельно;</li>
                        <li><strong>Персональный прораб</strong> – в любое время предоставит оперативную информацию по объекту;</li>
                        <li><strong>Фотоотчеты</strong> – на каждом этапе. Ведь у заказчика не всегда есть возможность приехать и посмотреть;</li>
                        <li>Безопасная сделка - <strong>без посредников</strong>;</li>
                        <li>Сопровождение клиента – начинается с вашего обращения в <strong>«Ремонт 36»</strong> и завершается въездом в готовый объект;</li>
                        <li><strong>Гарантия</strong> – оговаривается в контракте;</li>
                        <li>Без кредита – оплата может разбиваться пошагово и не потребуется нести дополнительные затраты.</li>
                    </ul>
                    <p>Кроме того:</p>
                    <ul>
                        <li>вывозим мусор;</li>
                        <li>будет чисто и тихо;</li>
                        <li>трудимся без выходных, но соблюдаем режим по закону.</li>
                    </ul>
                    <p>
                        <img style="width: 211px; margin: 20px 11px; float: left;" src="{% static 'main/img/remont-kvartit-pod-kluch-1.png' %}" alt="ремонт под ключ">
                        <img style="width: 211px; margin: 20px 11px; float: left;" title="ремонт квартир недорого" src="{% static 'main/img/remont-kvartit-nedorogo-1.png' %}" alt="ремонт квартир в Воронеже">
                        <img style="width: 211px; margin: 20px 11px; float: none;" title="ремонт квартир цены" src="{% static 'main/img/remont-kvartit-ceny-price-1.png' %}" alt="цены на ремонт квартир">
                    </p>
                    <p>Всегда можете скачать прайс лист и подсчитать стоимость, цены актуальны на 2022 год. 
                        После обсуждения вопросов, необходимо заключить договор. 
                        В контракте описываются поэтапно услуги, прилагается согласованная смета и сроки проведения. 
                        В каталоге представлены фото наших работ, 
                        до и после <a href="{% url 'kosmeticheskij-remont'%}">косметического</a>, 
                        <a href="{% url 'kapitalnyj-remont-kvartir'%}">капитального </a>и 
                        <a href="{% url 'evroremont'%}">евроремонта</a>. 
                        Отделка квартир <strong>под ключ</strong> любой сложности нам по плечу. Возьмем объект, вне зависимости от места его нахождения. Не имеет значение:</p>
                    <ul>
                        <li>в центре города;</li>
                        <li>в многоквартирном доме;</li>
                        <li>в хрущевке;</li>
                        <li>в очень маленькой квартире;</li>
                        <li>в панельном доме;</li>
                        <li>за городом.</li>
                    </ul>
                    <h2>Сколько стоит?</h2>
                    <p>Чтобы рассчитать стоимость надо согласовать фронт оказываемых услуг. В нашем бизнесе распространено понятие – <strong>цена за квадратный метр</strong> ремонта квартир. Фиксированной суммы нет, так как ремонт квартир рассчитывается из цены по видам работ. Предлагаем комплексные варианты:</p>
                    <ul>
                        <li>бюджетный вариант – непременно будет дешево и красиво;</li>
                        <li>в современном стиле;</li>
                        <li>в стиле прованс;</li>
                        <li>в стиле лофт.</li>
                    </ul>
                    <p>Не определились со стилем или не хотите привязываться к модным тенденциям, выполним просто и со вкусом:</p>
                    <ul>
                        <li>в светлых тонах;</li>
                        <li>в сером цвете;</li>
                        <li>в темных тонах.</li>
                    </ul>
                    <p>Перечень дополнительных услуг также влияет на ответ основного вопроса - во сколько обойдется ремонт. Такие виды, как:</p>
                    <ul>
                        <li>срочно;</li>
                        <li><a title="шумоизоляция в Воронеже" href="{% url 'shumoizolyatsiya'%}">шумоизоляция</a>;</li>
                        <li>без предоставления материалов – закупка нашими силами;</li>
                        <li>дизайнерский ремонт.</li>
                    </ul>
                    <p>Как формируется цена, мы написали выше, но есть несколько факторов, не влияющих на расценки:</p>
                    <ul>
                        <li>индивидуальный подход;</li>
                        <li>минимум шума;</li>
                        <li>строительные работы ведутся без грязи;</li>
                        <li>материалы всегда будут в сохранности;</li>
                        <li>выходные для нас не существуют;</li>
                        <li>быстрый и хороший результат.</li>
                    </ul>
                    <p>
                        <!-- <img style="width: 100%; margin: 10px 0;" title="ремонт квартир" src="./Ремонт квартир под ключ Воронеж Цены (прайс) - Отделка 36_files/banner-remont-kvartir.png" alt="ремонт квартир Воронеж"> -->
                    </p>
                    <h2>Предвосхищая частые вопросы?</h2>
                    <p>У нас свой маляр и отделочник – поэтому срочный ремонт возможен, так как не возникает вопрос - кто должен делать.
                        Вне зависимости от планировки, количества кв метров – мы сделаем как чистовой современный, так и черновую отделку. 
                        Частый вопрос - что означает черновая отделка – это подготовка стен, полов и потолков к поклейке обоев, покраске и т.д. 
                        Отделка квартир в Воронеже по доступной цене за квадратный метр возможна в любых внутренних помещениях. 
                        С дизайном и без, по выгодной оплате делаем работы в зале, гостиной, прихожей, спальне и т.д.</p>
                    <p>Для нас важен каждый клиент. Работаем с: 1 комнатными, 2х комнатными, 3 комнатными. 
                        Внутренняя отделка выполняется нами и во вторичном жилье. Часто спрашивают, сколько будет стоить квадратный метр ремонта трехкомнатной квартиры? 
                        Фиксированной суммы нет, зависит от кв м и объема. Это же касается однокомнатной, двухкомнатной, студии.</p>
                    <p>Модного ныне калькулятора - нет, есть смета и прайс, связано с тем, что не существует 100% правильного. 
                        Мы не вводим своих заказчиков в заблуждение, а рассчитываем исходя из м2 : 40; 20; 18; 22; 44; 50; 60; 45; 17; 11; 33; 36; 37; 38; 40; 42; 52; 55; 65; 73; 12; 15; 22; 25; 30; 33; 37; 47; 64; 90.</p>
                    <p>Найм <strong>«Ремонт 36»</strong> сэкономит деньги, нервы и время. 
                        Поможем и подскажем, в какой последовательности делать и с каких зон начать. 
                        Это же касается и вопроса - с чего начать ремонт вторичного жилья. 
                        Клиенту всегда важны детали, поэтому на нашем сайте вы можете найти интересную, подробную и полезную информацию:</p>
                    <ul>
                        <li>Как <a href="{% url 'ukladka-laminata'%}">уложить ламинат</a>?</li>
                        <li>Что нужно знать, чтобы <a href="{% url 'poklejka-oboev'%}">поклеить обои</a>?</li>
                        <li>Как <a href="{% url 'uslugi-santekhnika'%}">вызвать сантехика</a>?</li>
                        <li>Какие услуги оказывает <a href="{% url 'uslugi-elektrika'%}">электрик</a>?</li>
                    </ul>
                    <p>У вас остались вопросы, сколько нужно денег и какая цена за квадратный метр?</p>
                    <p>Звоните – будем рады.</p>
                    <p>«Ремонт 36» готовы взять на себя заботы, связанные с переездом в новую квартиру: Вам потребуются</p>
                    <ul>
                        <li><a href="{% url 'malar'%}">малярные</a>,</li>
                        <li><a href="{% url 'shtukaturnye-raboty'%}">штукатурные</a>,</li>
                        <li><a href="{% url 'elektromontazhnye-raboty'%}">электромонтажные</a>,</li>
                        <li><a href="{% url 'otdelochnye-raboty'%}">отделочные работы</a>,</li>
                        <li><a href="{% url 'remont-balkonov'%}">остекление балконов</a>,</li>
                        <li>отделка лоджий</li>
                        <li>установка сантехники и т.д.</li>
                    </ul>
                    <hr>
                    <h2 class="title-h2">Примерная стоимость ремонта квартиры в Воронеже</h2>
                    <p class="bold" style="text-align: center;">Технические размеры:</p>
                    <ol style="position: relative; z-index: 2;">
                        <ol style="position: relative; z-index: 2;">
                            <li>Высота потолка в квартире: 2.6 м</li>
                            <li>Площадь комнаты квартиры по полу и потолку: 33 м2</li>
                            <li>Периметр стен в квартире по полу: 26,5 м</li>
                            <li>Площадь стен: 69 м2</li>
                        </ol>
                    </ol>
                    <p style="text-align: center;">
                        <img src="{% static 'main/img/planirovka-remont-kvartir.jpg' %}" alt="планировка ремонта квартиры">
                    </p>
                    <p></p>
                    <div class="moduletable">
                        <table class="price" style="margin-top: -14px!important; position: relative; z-index: 1;">
                            <tbody>
                                <tr>
                                    <td style="text-align: center; padding: 5.4pt;">№</td>
                                    <td style="text-align: center; padding: 5.4pt;">Наименование работы</td>
                                    <td style="text-align: center; padding: 5.4pt;">Ед.измерения, кол-во</td>
                                    <td style="text-align: center; padding: 5.4pt;">Цена, руб.</td>
                                    <td style="text-align: center; padding: 5.4pt;">Итого</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>1</td>
                                    <td><span itemprop="name">Монтаж армирующей сетки под штукатурку.</span><span itemprop="description"></span>
                                    </td>
                                    <td>69 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">250</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>17250</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>2</td>
                                    <td><span itemprop="name">Грунтование стен 2 раза</span>. <span itemprop="description"></span></td>
                                    <td>69 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">60р слой</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>8280</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>3</td>
                                    <td><span itemprop="name">Штукатурка стен по маякам</span>. <span itemprop="description"></span>
                                    </td>
                                    <td>69 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">500</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>34500</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>4</td>
                                    <td><span itemprop="name">шпатлёвка стен 2 раза</span> <span itemprop="description"></span></td>
                                    <td>69 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">100р слой</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>13800</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>5</td>
                                    <td itemprop="name">шлифовка шпатлеванной поверхности стен</td>
                                    <td itemprop="description">69 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">100</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>6900</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>6</td>
                                    <td><span itemprop="name">Оклейка простыми обоями</span>. <span itemprop="description"></span>
                                    </td>
                                    <td>30 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">250</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>7500</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>7</td>
                                    <td><span itemprop="name">Покраска стен</span>. <span itemprop="description"></span></td>
                                    <td>24 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">125</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>3000</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>8</td>
                                    <td itemprop="name">декоративная штукатурка</td>
                                    <td itemprop="description">15 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">900</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>13500</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>9</td>
                                    <td itemprop="name">потолок ГКЛ одноуровневый</td>
                                    <td itemprop="description">72 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">700</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>50400</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>10</td>
                                    <td itemprop="name">заделка швов ГКЛ с серпянкой</td>
                                    <td itemprop="description">93 м</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">150</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>13950</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>11</td>
                                    <td itemprop="name">стеклохолст</td>
                                    <td itemprop="description">72 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">250</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>18000</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>12</td>
                                    <td><span itemprop="name">шпатлевка потолка 2 раза</span>. <span itemprop="description"></span></td>
                                    <td>72 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">130</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>18720</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>13</td>
                                    <td itemprop="name">грунтовка потолка 3 раза</td>
                                    <td itemprop="description">72 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">70</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>15120</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>14</td>
                                    <td itemprop="name">шлифовка потолка с пылесосом</td>
                                    <td itemprop="description">72 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">100</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>7200</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>15</td>
                                    <td itemprop="name">покраска потолка в/э краской</td>
                                    <td itemprop="description">72 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">175</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>12600</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>16</td>
                                    <td><span itemprop="name">Наливной пол до 30мм</span>. <span itemprop="description"></span>
                                    </td>
                                    <td>33 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">350</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>11550</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>17</td>
                                    <td itemprop="name">укладка керамогранита на пол</td>
                                    <td itemprop="description">23 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">900</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>20700</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>18</td>
                                    <td><span itemprop="name">Укладка ламината и подложки под ламинат</span>. <span itemprop="description"></span>
                                    </td>
                                    <td>10 м2</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">350</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>3500</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>19</td>
                                    <td itemprop="name">монтаж плинтуса пластикового</td>
                                    <td itemprop="description">27 м</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">200</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>5400</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>20</td>
                                    <td itemprop="name">монтаж кабеля</td>
                                    <td itemprop="description">250 м</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">100</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>25000</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>21</td>
                                    <td itemprop="name">сверление подразетника в кирпиче</td>
                                    <td itemprop="description">15 шт</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">300</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>4500</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>22</td>
                                    <td itemprop="name">монтаж подразетника</td>
                                    <td itemprop="description">15 шт</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">150</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>2250</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>23</td>
                                    <td><span itemprop="name">Монтаж разеток и выключателей</span>. <span itemprop="description"></span>
                                    </td>
                                    <td>15 шт</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">250</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>3750</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>24</td>
                                    <td itemprop="name">монтаж простых люстр 3-х рожковые</td>
                                    <td itemprop="description">2 шт</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">850</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>1700</td>
                                </tr>
                                <tr itemscope="" itemtype="http://schema.org/Product">
                                    <td>25</td>
                                    <td itemprop="name">монтаж светильников</td>
                                    <td itemprop="description">13 шт</td>
                                    <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><p itemprop="price">350</p><meta itemprop="priceCurrency" content="RUB"></td>
                                    <td>4550</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; padding: 5.4pt;" colspan="2">ИТОГО по работам</td>
                                    <td style="text-align: center; padding: 5.4pt;" colspan="3">323 620 руб.</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; padding: 5.4pt;" colspan="2">ИТОГО цена за м2</td>
                                    <td style="text-align: center; padding: 5.4pt;" colspan="3">9 807 руб.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p></p>
                    <hr>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 33.33%; border: none; text-align: center;">
                                    <img style="width: 150px;" title="заказать ремонт квартиры" src="{% static 'main/img/1_kv_icon.png' %}" alt="Ремонт квартир под ключ">
                                    <p>
                                        <a href="#">Магазин под ключ</a>
                                    </p>
                                </td>
                                <td style="width: 33.33%; border: none; text-align: center;">
                                    <img style="width: 150px;" title="Ремонт офиса в Воронеже" src="{% static 'main/img/2_dom_icon.png' %}" alt="ремонт под ключ Воронеж">
                                    <p>
                                        <a href="#">Офис под ключ</a>
                                    </p>
                                </td>
                                <td style="width: 33.33%; border: none; text-align: center;">
                                    <img style="width: 150px;" title="Отделка кухни под ключ" src="{% static 'main/img/remont-kukhni-pod-klyuch.png' %}" alt="ремонт кухни под ключ">
                                    <p>
                                        <a href="#">Кухня, столовая под ключ</a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}

{% block map %}
{% comment %} <div class="dd-sheet clearfix info-map">
    <div class="dd-nostyle-map">
        <p class="title-map">Наше местоположение на карте, г. Воронеж</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7051.595433688982!2d39.6477913528404!3d50.179712526608014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2snl!4v1693727119714!5m2!1sru!2snl" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</div> {% endcomment %}
{% include "main/map.html" %}
{% endblock %}