<!DOCTYPE html>
{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<div class="entry-content"><div class="item-page"><article class="dd-post"><div class="dd-postcontent clearfix"><div class="dd-article"><h1>Услуги</h1>
    <table>
    <tbody>
    <tr>
    <td style="text-align: center; vertical-align: middle;">
    <h2><a href="{% url 'prepare' %}">Демонтажные и подготовительные работы</a></h2>
    </td>
    <td style="text-align: center;"><a href="/demontazhnye-i-podgotovitelnye-raboty"><img src="{% static 'main/img/phoca_thumb_l_3.jpg' %}" alt="услуги по демонтажным и подготовительным работам" width="252" height="168"></a></td>
    </tr>
    <tr>
    <td style="text-align: center; vertical-align: middle;">
    <h2><a href="{% url 'malar' %}">Малярные работы</a></h2>
    </td>
    <td style="text-align: center;"><a href="/malyarnye-raboty-cena-voronezh"><img src="{% static 'main/img/phoca_thumb_l_5.jpg' %} " alt="услуги по малярным работам" width="249" height="195"></a></td>
    </tr>
    <tr>
    <td style="text-align: center; vertical-align: middle;">
    <h2><a href="{% url 'plitka' %}">Плиточные работы</a></h2>
    </td>
    <td style="text-align: center;"><a href="/plitochnye-raboty-voronezh"><img src="{% static 'main/img/phoca_thumb_l_5.jpg' %}" alt="услуги по плиточным работам" width="252" height="189"></a></td>
    </tr>
    <tr>
    <td style="text-align: center; vertical-align: middle;">
    <h2><a href="{% url 'styazhka' %}">Устройство полов</a></h2>
    </td>
    <td style="text-align: center;"><a href="/styazhka-pola-voronezh"><img src="{% static 'main/img/phoca_thumb_l_10.jpg' %}" alt="услуги по устройству полов" width="252" height="189"></a></td>
    </tr>
    <tr>
    <td style="text-align: center; vertical-align: middle;">
    <h2><a href="{% url 'ustrojstvo-sten' %}">Устройство стен</a></h2>
    </td>
    <td style="text-align: center;"><a href="/ustrojstvo-sten"><img src="{% static 'main/img/phoca_thumb_l_3.jpeg' %}" alt="услуги по устройству стен" width="254" height="190"></a></td>
    </tr>
    <tr>
    <td style="text-align: center; vertical-align: middle;">
    <h2><a href="{% url 'ustrojstvo-potolkov' %}">Устройство потолков</a></h2>
    </td>
    <td style="text-align: center;"><a href="/ustrojstvo-potolkov"><img src="{% static 'main/img/phoca_thumb_l_4.jpg' %}" alt="услуги по устройству потолков" width="258" height="182"></a></td>
    </tr>
    <tr>
    <td style="text-align: center; vertical-align: middle;">
    <h2><a href="{% url 'ustanovka-mezhkomnatnykh-dverey' %}">Установка окон и дверей</a></h2>
    </td>
    <td style="text-align: center;"><a href="/ustanovka-mezhkomnatnykh-dverey-cena"><img src="{% static 'main/img/phoca_thumb_l_15.png' %}" alt="услуги по установке окон и дверей" width="257" height="171"></a></td>
    </tr>
    <tr>
    <td style="text-align: center; vertical-align: middle;">
    <h2><a href="{% url 'elektromontazhnye-raboty' %}">Электромонтажные работы</a></h2>
    </td>
    <td style="text-align: center;"><a href="/cena-elektromontazhnye-raboty-montazh-elektroprovodki"><img src="{% static 'main/img/phoca_thumb_l_12.jpg' %}" alt="услуги по электромонтажным работам" width="259" height="173"></a></td>
    </tr>
    <tr>
    <td style="text-align: center; vertical-align: middle;">
    <h2><a href="{% url 'santekhnicheskie-raboty' %}">Сантехнические работы</a></h2>
    </td>
    <td style="text-align: center;"><a href="/santekhnicheskie-raboty-voronezh-cena"><img src="{% static 'main/img/phoca_thumb_l_7.jpg' %}" alt="услуги по сантехническим работам" width="259" height="194"></a></td>
    </tr>
    </tbody>
    </table> </div></div></article></div></div>
{% endblock %}

{% block nostyle %}
{% include 'main/posts.html' %}
{% endblock %}

{% block map %}
{% include 'main/map.html' %}
{% endblock %}