{% load static %}

<div id="wrapper">
    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider" style="position: relative; width: 718px; height: 240px; background: url(&quot;/templates/dd_diet_36/images/slideshow/6.jpg&quot;) no-repeat;">
    
            <img src="{% static 'main/img/6.jpg' %}" alt="foto6" style="display: none;">
    
            <img src="{% static 'main/img/4.jpg' %}" alt="foto4" style="display: none;">
    
            <img src="{% static 'main/img/1.jpg' %}" alt="foto1" style="display: none;">
    
            <img src="{% static 'main/img/3.jpg' %}" alt="foto3" style="display: none;">
    
            <img src="{% static 'main/img/5.jpg' %}" alt="foto5" style="display: none;">
    
            <img src="{% static 'main/img/2.jpg' %}" alt="foto2" style="display: none;">
    
            <div class="nivo-caption" style="display: none; opacity: 0.8;"></div>
            <div class="nivo-directionNav" style="display: block;">
                <a class="nivo-prevNav">Prev</a>
                <a class="nivo-nextNav">Next</a>
            </div>
            <div class="nivo-controlNav">
                <a class="nivo-control" rel="0">1</a>
                <a class="nivo-control active" rel="1">2</a>
                <a class="nivo-control" rel="2">3</a>
                <a class="nivo-control" rel="3">4</a>
                <a class="nivo-control" rel="4">5</a>
                <a class="nivo-control" rel="5">6</a>
            </div>
        </div>
    </div>
</div>